# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##  Map openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_map_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file mmap_file_perms;
')

########################################
## <summary>
##  getattr to openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_read_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file read_file_perms;
')

########################################
## <summary>
##  manage openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_manage_lib_files',`
    gen_require(`
        type openwfd_lib_t, lib_t;
    ')

    manage_files_pattern($1, lib_t, openwfd_lib_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for owfds.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_create_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    create_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read and write owfds tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_rw_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    rw_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read and write scmi devices (/dev/scmi_mdss0 /dev/scmi_mdss1).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_rw_scmi_dev',`
    gen_require(`
        type device_t, openwfd_server_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, openwfd_server_dev_t)
')

######################################
## <summary>
##  pm-umd-display-0/1.sock connectto create unlink write.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_pm_sock',`
    gen_require(`
        type openwfd_server_t;
        type openwfd_server_power_t;
    ')

    allow $1 openwfd_server_t:unix_stream_socket connectto;
    allow $1 openwfd_server_power_t:sock_file { create unlink write };
    allow openwfd_server_t $1:unix_stream_socket connectto;
')

######################################
## <summary>
##  Map openwfd_tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_map_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    mmap_exec_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')