# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_pciesm, 1.0)

type pciesm_t;
type pciesm_exec_t;
type pciesm_tmpfs_t;

fs_tmpfs_filetrans(pciesm_t, pciesm_tmpfs_t, { dir file })
files_tmpfs_file(pciesm_tmpfs_t)
fs_manage_tmpfs_files(pciesm_t)
fs_rw_tmpfs_dirs(pciesm_t)
fs_manage_tmpfs_dirs(pciesm_t)

create_dirs_pattern(pciesm_t, pciesm_tmpfs_t, pciesm_tmpfs_t)
manage_dirs_pattern(pciesm_t, pciesm_tmpfs_t, pciesm_tmpfs_t)
create_files_pattern(pciesm_t, pciesm_tmpfs_t, pciesm_tmpfs_t)
manage_files_pattern(pciesm_t, pciesm_tmpfs_t, pciesm_tmpfs_t)

init_daemon_domain(pciesm_t, pciesm_exec_t)

libkiumd_mmap_exec_lib_file(pciesm_t)
dev_rw_kiumd_dev(pciesm_t)

logging_send_syslog_msg(pciesm_t)

dev_read_sysfs(pciesm_t)

safetymonitor_rw_tmpfs_files(pciesm_t)

allow pciesm_t pciesm_tmpfs_t:file { map };
