# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qti_glinkserver, 1.0)

type glinkserver_t;
type glinkserver_exec_t;
type glinkserver_tmp_t;
type glinkserver_tmpfs_t;

init_daemon_domain(glinkserver_t, glinkserver_exec_t)

logging_send_syslog_msg(glinkserver_t)
unconfined_server_signull(glinkserver_t)
unconfined_signull(glinkserver_t)
dev_read_sysfs(glinkserver_t)
fs_rw_tmpfs_files(glinkserver_t)
fs_map_tmpfs_files(glinkserver_t)

fastrpc_rm_signull(glinkserver_t)
diag_service_signull(glinkserver_t)
audio_service_signull(glinkserver_t)

ssrrm_rw_tmpfs_files(glinkserver_t)
fastrpc_rm_mmap_rw_tmpfs_files(glinkserver_t)
diagservice_mmap_rw_tmpfs_files(glinkserver_t)
audioservice_mmap_rw_tmpfs_files(glinkserver_t)
audioservice_delete_tmpfs_files(glinkserver_t)

# /dev/dma_heap/system
dev_rw_dma_dev(glinkserver_t)

# /dev/kiumd
dev_rw_kiumd_dev(glinkserver_t)

#libkiumd
libkiumd_mmap_exec_lib_file(glinkserver_t)

# /dev/vfio/vfio
dev_rw_vfio_dev(glinkserver_t)

# /tmp/lrms_log_*.txt
files_tmp_file(glinkserver_tmp_t)
files_tmp_filetrans(glinkserver_t, glinkserver_tmp_t, { dir file })
manage_files_pattern(glinkserver_t, glinkserver_tmp_t, glinkserver_tmp_t)

# /dev/shm/lrmc_rq_*
files_tmpfs_file(glinkserver_tmpfs_t)
fs_tmpfs_filetrans(glinkserver_t, glinkserver_tmpfs_t, { dir file })
glinkserver_create_tmpfs_files(glinkserver_t)
glinkserver_mmap_rw_tmpfs_files(glinkserver_t)

allow glinkserver_t self:unix_dgram_socket { create connect write getopt setopt };
allow glinkserver_t self:process { setrlimit signull setsched };
allow glinkserver_t self:capability { net_admin sys_nice sys_resource dac_override };

userdom_manage_user_tmp_files(glinkserver_t)
userdom_map_tmp_files(glinkserver_t)
