# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qti_vhost-user, 1.0)

type vhost_user_qti_t;
type vhost_user_qti_vm3_t;
type vhost_user_qti_exec_t;
type vhost_user_qti_exec_vm3_t;
type vhost_user_device_t;
type vhost_user_device_vm3_t;
type vhost_user_tmp_t;
type vhost_user_tmp_vm3_t;

type vhost_user_tmpfs_t;

# the selinux domain (binded to vhost_user_qti_exec_t) is used to control
# permissions for vhost_user_qti processes launched by systemd without using
# SELinuxContext feature.
# this is used for LA-GVM.
init_daemon_domain(vhost_user_qti_t, vhost_user_qti_exec_t)

# the selinux domain (binded to empty vhost_user_qti_exec_vm3_t) is used to control
# permissions for vhost_user_qti processes launched by systemd using
# SELinuxContext feature.
# this is used for LV-GVM.
init_daemon_domain(vhost_user_qti_vm3_t, vhost_user_qti_exec_vm3_t)

dev_node(vhost_user_device_t)
dev_node(vhost_user_device_vm3_t)

vhost_user_rw_vhost_dev(vhost_user_qti_t)
vhost_user_rw_vhost_vm3_dev(vhost_user_qti_vm3_t);

vhost_user_delete_vhost_dev(vhost_user_qti_t)
vhost_user_delete_vhost_dev_vm3(vhost_user_qti_vm3_t)

vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-aud-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-cam-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-disp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-ogles-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-misc-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-vid-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-vnw-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-gpce-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-ext-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-soccp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-dprx-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-eva-skt")

vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-aud-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-cam-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-disp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-ogles-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-misc-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-vid-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-vnw-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-gpce-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-ext-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-soccp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-dprx-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-eva-skt")

allow vhost_user_qti_t vhost_user_tmp_t:sock_file unlink;
allow vhost_user_qti_vm3_t vhost_user_tmp_vm3_t:sock_file unlink;

# vhost_user_qti_t does not need this since we already set the permission
# by the above init_daemon_domain(vhost_user_qti_t, vhost_user_qti_exec_t)
# Because the vhost_user_qti_exec_vm3_t is empty object.
# The above init_daemon_domain(vhost_user_qti_vm3_t, vhost_user_qti_exec_vm3_t)
# does not add needed permission for the executable file. So we need add here.
allow vhost_user_qti_vm3_t vhost_user_qti_exec_t:file {entrypoint map read execute};

logging_send_syslog_msg(vhost_user_qti_t)
logging_send_syslog_msg(vhost_user_qti_vm3_t)

vmm_client_connect_server(vhost_user_qti_t)
vmm_client_connect_server(vhost_user_qti_vm3_t)
