# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_nsp-rsm, 1.0)

type nsp_rsm_t;
type nsp_rsm_exec_t;

#============= nsp_rsm_t ==============
init_daemon_domain(nsp_rsm_t, nsp_rsm_exec_t)

libkiumd_mmap_exec_lib_file(nsp_rsm_t)
dev_rw_kiumd_dev(nsp_rsm_t)
dev_read_sysfs(nsp_rsm_t)

allow nsp_rsm_t self:process { setrlimit setsched };
allow nsp_rsm_t self:unix_dgram_socket { create connect };
allow nsp_rsm_t self:capability { sys_resource sys_nice };
userdom_map_tmp_files(nsp_rsm_t)

logging_create_devlog_dev(nsp_rsm_t)

files_manage_generic_tmp_dirs(nsp_rsm_t)
files_manage_generic_tmp_files(nsp_rsm_t)

logging_read_syslog_pid(nsp_rsm_t)
logging_send_syslog_msg(nsp_rsm_t)

safetymonitor_rw_tmpfs_files(nsp_rsm_t)

fs_manage_tmpfs_files(nsp_rsm_t)
fs_map_tmpfs_files(nsp_rsm_t)
userdom_manage_tmp_files(nsp_rsm_t)
files_manage_var_files(nsp_rsm_t)

kernel_read_proc_files(nsp_rsm_t)
