# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qti_video-driver, 1.0)

type video_driver_t;
type video_driver_exec_t;
type video_driver_tmp_t;
type video_driver_tmpfs_t;
type video_driver_dev_t;
type video_driver_power_t;

init_daemon_domain(video_driver_t, video_driver_exec_t)

# Allow access to /dev/scmi_video
dev_node(video_driver_dev_t)
videodriver_rw_scmi_dev(video_driver_t)

logging_send_syslog_msg(video_driver_t)

kernel_read_state(video_driver_t)

userdom_rw_user_tmp_files(video_driver_t)
userdom_map_tmp_files(video_driver_t)

# Allow unlinking temporary user files
userdom_manage_user_tmp_files(video_driver_t)

# mmosal_logmask.cfg
kernel_read_unlabeled_state(video_driver_t)
files_read_default_files(video_driver_t)
files_manage_default_files(video_driver_t)
files_manage_default_dirs(video_driver_t)

# Todo, not clear which domain create tmpfs_t objects which safetymonitor access,
# so file transition rules can't work, use below two interface for the moment
fs_rw_tmpfs_files(video_driver_t)
fs_delete_tmpfs_files(video_driver_t)

# dbus and logind access for suspend and resume support
dbus_system_bus_client(video_driver_t)
systemd_dbus_chat_logind(video_driver_t)
systemd_write_inhibit_pipes(video_driver_t)

systemd_read_logind_sessions_files(video_driver_t)
systemd_login_read_pid_files(video_driver_t)

dbus_stream_connect_system_dbusd(video_driver_t)
dbus_chat_session_bus(video_driver_t)
dbus_write_pid_sock_files(video_driver_t)

dbus_read_pid_files(video_driver_t)

# pm_register
power_use_pm_register(video_driver_t, video_driver_power_t)

# Todo, unlabeled_t, could remove after setting selinxu context to /data mount
# /data/mmosal_logmask.cfg
files_rw_isid_type_dirs(video_driver_t)
files_mounton_isid_type_dirs(video_driver_t)
files_manage_isid_type_files(video_driver_t)

# /dev/shm/lrmc_rq_*
pilrm_rw_tmpfs_files(video_driver_t)

dev_rw_scmnode_dev(video_driver_t)
dev_dontaudit_scmnode_sec_dev(video_driver_t)
dev_rw_dma_dev(video_driver_t)
dev_rw_kiumd_dev(video_driver_t)
dev_rw_vfio_dev(video_driver_t)
dev_read_sysfs(video_driver_t)

qseecomd_search_data(video_driver_t)

hyp_video_read_pid(video_driver_t)

hypvb_rw_tmpfs_files(video_driver_t)
videodriver_rw_tmpfs_files(video_driver_t)
#libkiumd
libkiumd_mmap_exec_lib_file(video_driver_t)

hyp_video_ptrace(video_driver_t)
# ========== local ==========
allow video_driver_t self:unix_dgram_socket { create connect getopt setopt };
allow video_driver_t self:process { setrlimit setsched };
allow video_driver_t self:capability { sys_resource sys_ptrace net_admin sys_nice sys_ptrace dac_override };

files_tmp_file(video_driver_tmp_t)
files_tmp_filetrans(video_driver_t, video_driver_tmp_t, { dir fifo_file file lnk_file })
create_dirs_pattern(video_driver_t, video_driver_tmp_t, video_driver_tmp_t)
manage_files_pattern(video_driver_t, video_driver_tmp_t, video_driver_tmp_t)
manage_fifo_files_pattern(video_driver_t, video_driver_tmp_t, video_driver_tmp_t)

files_tmpfs_file(video_driver_tmpfs_t)
fs_tmpfs_filetrans(video_driver_t, video_driver_tmpfs_t, { dir file })
create_files_pattern(video_driver_t, video_driver_tmpfs_t, video_driver_tmpfs_t)
videodriver_mmap_rw_tmpfs_files(video_driver_t)
videodriver_delete_tmpfs_files(video_driver_t)

dev_map_kiumd_dev(video_driver_t)

# ========== Todo ==========
# video-driver related process access the unknown process with unconfined_service_t domain, including
# its process information in /proc/(pid), not sure which process it is, so allow video_driver_t domain
# to access this unconfined domain for the moment. Note below rules are unreasonable.
unconfined_server_ptrace(video_driver_t)
unconfined_server_read_files(video_driver_t)
unconfined_ptrace(video_driver_t)
