# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_nsp-service, 1.0)

type nspconfig_t;
type nspconfig_exec_t;
type nspconfig_tmp_t;
type nspconfig_tmpfs_t;

init_daemon_domain(nspconfig_t, nspconfig_exec_t)

userdom_rw_user_tmp_files(nspconfig_t)
userdom_map_tmp_files(nspconfig_t)
userdom_delete_user_tmp_files(nspconfig_t)

fs_rw_tmpfs_files(nspconfig_t)
fs_map_tmpfs_files(nspconfig_t)

libkiumd_mmap_exec_lib_file(nspconfig_t)
dev_rw_kiumd_dev(nspconfig_t)

dev_rw_dma_dev(nspconfig_t)
dev_rw_kiumd_dev(nspconfig_t)
dev_rw_vfio_dev(nspconfig_t)
dev_read_sysfs(nspconfig_t)

ssrrm_rw_tmpfs_files(nspconfig_t)
glinkserver_rw_tmpfs_files(nspconfig_t)
glinkserver_ptrace(nspconfig_t)

allow nspconfig_t self:unix_dgram_socket { create connect getopt setopt };
allow nspconfig_t self:capability { sys_resource sys_nice net_admin sys_ptrace dac_override };
allow nspconfig_t self:process { setrlimit setsched };

logging_create_devlog_dev(nspconfig_t)

files_manage_generic_tmp_dirs(nspconfig_t)
files_manage_generic_tmp_files(nspconfig_t)

logging_read_syslog_pid(nspconfig_t)
logging_send_syslog_msg(nspconfig_t)

safetymonitor_rw_tmpfs_files(nspconfig_t)

fs_manage_tmpfs_files(nspconfig_t)
fs_map_tmpfs_files(nspconfig_t)
userdom_manage_tmp_files(nspconfig_t)
files_manage_var_files(nspconfig_t)

unconfined_server_signull(nspconfig_t)
unconfined_signull(nspconfig_t)
unconfined_server_ptrace(nspconfig_t)
unconfined_ptrace(nspconfig_t)

files_tmp_file(nspconfig_tmp_t)
files_tmp_filetrans(nspconfig_t, nspconfig_tmp_t, { dir file })
manage_files_pattern(nspconfig_t, nspconfig_tmp_t, nspconfig_tmp_t)

files_tmpfs_file(nspconfig_tmpfs_t)
fs_tmpfs_filetrans(nspconfig_t, nspconfig_tmpfs_t, { dir file })
nspconfig_create_tmpfs_files(nspconfig_t)
nspconfig_mmap_rw_tmpfs_files(nspconfig_t)
allow glinkserver_t tmpfs_t:file unlink;
