# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy interface for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to compresmon related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmon_signull',`
    gen_require(`
        type compresmon_t;
    ')

    allow $1 compresmon_t:process signull;
')

######################################
## <summary>
##  Map, read and write compresmon tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmon_mmap_rw_tmpfs_files',`
    gen_require(`
        type compresmon_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, compresmon_tmpfs_t, compresmon_tmpfs_t)
')

######################################
## <summary>
##  Unlink compresmon tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmon_unlink_tmpfs_files',`
    gen_require(`
        type compresmon_tmpfs_t;
    ')

    allow $1 compresmon_tmpfs_t:file unlink;
')
