#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
#SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_softsku_daemon, 1.0)

type softsku_daemon_t;
type softsku_daemon_exec_t;

init_daemon_domain(softsku_daemon_t, softsku_daemon_exec_t)

type sku_cli_t;
type sku_cli_exec_t;

init_daemon_domain(sku_cli_t, sku_cli_exec_t)

type softsku_rc_t;

files_type(softsku_rc_t)


allow softsku_daemon_t self:process { setrlimit };
allow softsku_daemon_t self:tcp_socket { create bind listen accept read write shutdown };
allow softsku_daemon_t self:unix_dgram_socket { create connect write };
allow softsku_daemon_t self:capability { sys_resource };



allow softsku_daemon_t softsku_rc_t:file { getattr read open };
logging_dgram_send(softsku_daemon_t);
fs_rw_dos_dirs(softsku_daemon_t);
files_rw_dosfs_files(softsku_daemon_t);
logging_create_devlog_dev(softsku_daemon_t);
qseecomd_getattr_persist_dirs(softsku_daemon_t);
dev_rw_smcinvoke_dev(softsku_daemon_t);
qseecomd_setattr_persist(softsku_daemon_t);
qseecomd_rw_persist(softsku_daemon_t);
qseecomd_manage_persist(softsku_daemon_t);
libkiumd_manage_lib_files(softsku_daemon_t);
libkiumd_mmap_exec_lib_file(softsku_daemon_t);
libkiumd_ioctl_lib_file(softsku_daemon_t);
dev_rw_dma_dev(softsku_daemon_t);
corenet_tcp_connect_unreserved_ports(softsku_daemon_t);
corenet_tcp_bind_generic_port(softsku_daemon_t);
corenet_tcp_bind_generic_node(softsku_daemon_t);
dev_getattr_sysfs_fs(softsku_daemon_t);
dev_rw_sysfs(softsku_daemon_t);
fs_manage_tmpfs_files(softsku_daemon_t);
fs_map_tmpfs_files(softsku_daemon_t);

allow sku_cli_t self:process { setrlimit };
allow sku_cli_t self:tcp_socket { create connect shutdown write };
allow sku_cli_t self:unix_dgram_socket { create connect write };
allow sku_cli_t softsku_rc_t:file { getattr read open };
allow sku_cli_t self:capability { sys_resource };

libkiumd_manage_lib_files(sku_cli_t);
libkiumd_mmap_exec_lib_file(sku_cli_t);
corenet_tcp_connect_unreserved_ports(sku_cli_t);
libkiumd_ioctl_lib_file(sku_cli_t);
corenet_tcp_bind_generic_port(sku_cli_t);
dev_getattr_sysfs_fs(sku_cli_t);
dev_rw_sysfs(sku_cli_t);
fs_manage_tmpfs_files(sku_cli_t);
fs_map_tmpfs_files(sku_cli_t);
logging_create_devlog_dev(sku_cli_t);
logging_dgram_send(sku_cli_t);
