# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Check audio-service related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audio_service_read_pid',`
    gen_require(`
        type audio_service_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, audio_service_t, audio_service_t)
')

######################################
## <summary>
##  Send signull to audio-service related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audio_service_signull',`
    gen_require(`
        type audio_service_t;
    ')

    allow $1 audio_service_t:process signull;
')

######################################
## <summary>
##  Map, read and write audio-service tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_mmap_rw_tmpfs_files',`
    gen_require(`
        type audio_service_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, audio_service_tmpfs_t, audio_service_tmpfs_t)
')

######################################
## <summary>
##  Delete audio-service tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_delete_tmpfs_files',`
    gen_require(`
        type audio_service_tmpfs_t;
    ')

    delete_files_pattern($1, audio_service_tmpfs_t, audio_service_tmpfs_t)
')


######################################
## <summary>
##  Read and write audio-service config files in /etc/acdbdata.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_rw_etc_files',`
    gen_require(`
        type audio_etc_t;
    ')

    list_dirs_pattern($1, audio_etc_t, audio_etc_t)
    rw_files_pattern($1, audio_etc_t, audio_etc_t)
')

######################################
## <summary>
##  Read and write audio device (/dev/ipc_shmem)
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_rw_audio_dev',`
    gen_require(`
        type device_t, audio_device_t;
    ')

    rw_chr_files_pattern($1, device_t, audio_device_t)
')

######################################
## <summary>
##  MMAP audio device (/dev/ipc_shmem)
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_mmap_audio_dev',`
    gen_require(`
        type audio_device_t;
    ')

    allow $1 audio_device_t:chr_file map;
')

######################################
## <summary>
##  write tmpfs_t sock_file (/tmp/awe_pkt_socket)
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_write_tmpfs_sock_file',`
    gen_require(`
        type tmpfs_t;
        class sock_file write;

    ')

    allow $1 tmpfs_t:sock_file write;
')

######################################
## <summary>
##  Write audio power
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_write_audio_power',`
    gen_require(`
        type audio_power_t;
    ')

    allow $1 audio_power_t:sock_file write;
')

######################################
## <summary>
##  Sock audio service
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`audioservice_connect_audio_sock',`
    gen_require(`
        type audio_service_t;
    ')

    allow $1 audio_service_t:unix_stream_socket connectto;
')
