# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qti_owfds, 1.0)

type bridgeship_server_t;
type bridgeship_server_exec_t;
type openwfd_server_t;
type openwfd_server_exec_t;
type openwfd_lib_t;
type openwfd_tmp_t;
type openwfd_tmpfs_t;
type openwfd_server_dev_t;
type openwfd_server_power_t;

init_daemon_domain(bridgeship_server_t, bridgeship_server_exec_t)
init_daemon_domain(openwfd_server_t, openwfd_server_exec_t)

dev_node(openwfd_server_dev_t)

openwfd_server_rw_scmi_dev(openwfd_server_t)

files_tmp_file(openwfd_tmp_t)
files_tmpfs_file(openwfd_tmpfs_t)

#============ bridgeship_server_t ===========
logging_send_syslog_msg(bridgeship_server_t)

# /tmp/lrms_log_*.txt
files_tmp_filetrans(bridgeship_server_t, openwfd_tmp_t, { dir file })
fs_tmpfs_filetrans(bridgeship_server_t, openwfd_tmpfs_t, { dir file })
manage_files_pattern(bridgeship_server_t, openwfd_tmp_t, openwfd_tmp_t)
manage_files_pattern(bridgeship_server_t, openwfd_tmpfs_t, openwfd_tmpfs_t)

#openwfd_tmpfs_t
owfds_map_tmpfs_files(bridgeship_server_t)

#tty_device_t
term_manage_tty_device_chr_files(bridgeship_server_t)

allow bridgeship_server_t self:unix_dgram_socket { create connect write getopt setopt };
allow bridgeship_server_t self:process { setrlimit setsched };
allow bridgeship_server_t self:capability { sys_resource sys_nice net_admin sys_ptrace dac_override };
allow bridgeship_server_t openwfd_server_t:process { signull };

#============ openwfd_server_t ===========
logging_send_syslog_msg(openwfd_server_t)

fs_delete_tmpfs_files(openwfd_server_t)

userdom_rw_user_tmp_files(openwfd_server_t)
userdom_delete_user_tmp_files(openwfd_server_t)
userdom_map_tmp_files(openwfd_server_t)

dev_rw_kiumd_dev(openwfd_server_t)
dev_rw_vfio_dev(openwfd_server_t)
dev_rw_gpio_dev(openwfd_server_t)

unconfined_server_signull(openwfd_server_t)
unconfined_server_ptrace(openwfd_server_t)
unconfined_signull(openwfd_server_t)
unconfined_ptrace(openwfd_server_t)
weston_signull(openwfd_server_t)
weston_ptrace(openwfd_server_t)

display_be_signull(openwfd_server_t)
display_be_ptrace(openwfd_server_t)
# /dev/shm/lrmc_rq_(pid)_1
display_be_mmap_rw_tmpfs_files(openwfd_server_t)
display_be_delete_tmpfs_files(openwfd_server_t)

owfds_create_tmpfs_files(openwfd_server_t)
owfds_rw_tmpfs_files(openwfd_server_t)
owfds_map_tmpfs_files(openwfd_server_t)
weston_mmap_rw_tmpfs_files(openwfd_server_t)

weston_delete_tmpfs_files(openwfd_server_t)

fs_getattr_cgroup(openwfd_server_t)
dbus_system_bus_client(openwfd_server_t)
systemd_dbus_chat_logind(openwfd_server_t)
systemd_write_inhibit_pipes(openwfd_server_t)

qseecomd_signull(openwfd_server_t)

# pm_register
power_use_pm_register(openwfd_server_t, openwfd_server_power_t)

# /sys/devices/soc0/soc_id
dev_read_sysfs(openwfd_server_t)

# /dev/shm/lrmc_rq_*
# Todo, not clear which domain create tmpfs_t objects which audio-service access,
# so file transition rules can't work, use below two interface for the moment
fs_map_tmpfs_files(openwfd_server_t)
fs_rw_tmpfs_files(openwfd_server_t)

# /dev/i2c-18
term_use_unallocated_ttys(openwfd_server_t)

# /usr/lib/libkiumd,liblrms,liblrmc
libkiumd_mmap_exec_lib_file(openwfd_server_t)
libkiumd_mmap_exec_lib_file(bridgeship_server_t)

#smcinvoke_device_t
dev_rw_smcinvoke_dev(openwfd_server_t)
minkdescriptor_mmap_lib_files(openwfd_server_t)

#dma_device_t
dev_rw_dma_dev(openwfd_server_t)

#dosfs_t
files_rw_dosfs_files(openwfd_server_t)

#var_t
files_manage_var_dirs(openwfd_server_t)

allow openwfd_server_t self:unix_dgram_socket { create connect getopt setopt };
allow openwfd_server_t self:process { setrlimit setsched };
allow openwfd_server_t self:capability { sys_resource sys_nice net_admin sys_ptrace kill dac_override };

files_tmp_filetrans(openwfd_server_t, openwfd_tmp_t, { dir file })
manage_files_pattern(openwfd_server_t, openwfd_tmp_t, openwfd_tmp_t)

fs_tmpfs_filetrans(openwfd_server_t, openwfd_tmpfs_t, { dir file })
manage_files_pattern(openwfd_server_t, openwfd_tmpfs_t, openwfd_tmpfs_t)
