# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_powercyclemgr, 1.0)

type powercyclemgr_t;
type powercyclemgr_exec_t;
type powercyclemgr_tmp_t;
type powercyclemgr_tmpfs_t;
type powercyclemgr_socket_t;

init_daemon_domain(powercyclemgr_t, powercyclemgr_exec_t)

userdom_rw_user_tmp_files(powercyclemgr_t)
userdom_map_tmp_files(powercyclemgr_t)
userdom_delete_user_tmp_files(powercyclemgr_t)

fs_rw_tmpfs_files(powercyclemgr_t)
fs_map_tmpfs_files(powercyclemgr_t)

libkiumd_mmap_exec_lib_file(powercyclemgr_t)
dev_rw_kiumd_dev(powercyclemgr_t)

dev_rw_dma_dev(powercyclemgr_t)
dev_rw_kiumd_dev(powercyclemgr_t)
dev_rw_vfio_dev(powercyclemgr_t)
dev_read_sysfs(powercyclemgr_t)

ssrrm_rw_tmpfs_files(powercyclemgr_t)
glinkserver_rw_tmpfs_files(powercyclemgr_t)
glinkserver_ptrace(powercyclemgr_t)

allow powercyclemgr_t self:unix_dgram_socket { create connect getopt setopt };
allow powercyclemgr_t self:capability { sys_resource sys_nice net_admin sys_ptrace dac_override };
allow powercyclemgr_t self:process { setrlimit setsched };

logging_create_devlog_dev(powercyclemgr_t)

allow powercyclemgr_t power_qcom_pm_t:sock_file {write read};
allow powercyclemgr_t unconfined_service_t:unix_stream_socket connectto;
audioservice_write_audio_power(powercyclemgr_t)
audioservice_connect_audio_sock(powercyclemgr_t)

files_manage_generic_tmp_dirs(powercyclemgr_t)
files_manage_generic_tmp_files(powercyclemgr_t)

logging_read_syslog_pid(powercyclemgr_t)
logging_send_syslog_msg(powercyclemgr_t)

safetymonitor_rw_tmpfs_files(powercyclemgr_t)

fs_manage_tmpfs_files(powercyclemgr_t)
fs_map_tmpfs_files(powercyclemgr_t)
userdom_manage_tmp_files(powercyclemgr_t)
files_manage_var_files(powercyclemgr_t)

unconfined_server_signull(powercyclemgr_t)
unconfined_signull(powercyclemgr_t)
unconfined_server_ptrace(powercyclemgr_t)
unconfined_ptrace(powercyclemgr_t)

files_tmp_file(powercyclemgr_tmp_t)
files_tmp_filetrans(powercyclemgr_t, powercyclemgr_tmp_t, { dir file })
manage_files_pattern(powercyclemgr_t, powercyclemgr_tmp_t, powercyclemgr_tmp_t)

files_tmpfs_file(powercyclemgr_tmpfs_t)
fs_tmpfs_filetrans(powercyclemgr_t, powercyclemgr_tmpfs_t, { dir file })
powercyclemgr_create_tmpfs_files(powercyclemgr_t)
powercyclemgr_mmap_rw_tmpfs_files(powercyclemgr_t)

power_use_pm_register(powercyclemgr_t, powercyclemgr_socket_t)
adreno200_sock(powercyclemgr_t)
vmm_client_connect_server(powercyclemgr_t)
qcx_server_sock(powercyclemgr_t)
openwfd_server_connect_pm_socket(powercyclemgr_t)
openwfd_server_manage_pm_sockfile(powercyclemgr_t)
weston_connect_pm_socket(powercyclemgr_t)
weston_manage_pm_sockfile(powercyclemgr_t)
video_driver_socket_connect(powercyclemgr_t)
video_driver_sockfile_manage(powercyclemgr_t)

powercyclemgr_read_chr_files(powercyclemgr_t)

powercyclemgr_unlink_tmpfs_files(powercyclemgr_t)
dbus_stream_connect_system_dbusd(powercyclemgr_t)
dbus_write_pid_sock_files(powercyclemgr_t)
dbus_send_system_bus(powercyclemgr_t)
systemd_dbus_chat_logind(powercyclemgr_t)
allow powercyclemgr_t system_dbusd_var_run_t:dir search;
