# Copyright (c) 2024-2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_compresmon, 1.0)

type compresmon_t;
type compresmon_exec_t;
type compresmon_tmp_t;
type compresmon_tmpfs_t;

init_daemon_domain(compresmon_t, compresmon_exec_t)

libkiumd_ioctl_lib_file(compresmon_t)
libkiumd_mmap_exec_lib_file(compresmon_t)
dev_rw_kiumd_dev(compresmon_t)

unconfined_server_signull(compresmon_t)
unconfined_ptrace(compresmon_t)
unconfined_server_ptrace(compresmon_t)

files_manage_var_files(compresmon_t)

allow compresmon_t self:process { setrlimit setsched };
allow compresmon_t self:capability { sys_resource sys_nice sys_ptrace };
allow compresmon_t self:unix_dgram_socket { create connect };
allow compresmon_t self:tcp_socket { read write create connect getopt setopt };

files_tmp_file(compresmon_tmp_t)
files_tmp_filetrans(compresmon_t, compresmon_tmp_t, { dir file })
manage_files_pattern(compresmon_t, compresmon_tmp_t, compresmon_tmp_t)

files_tmpfs_file(compresmon_tmpfs_t)
fs_tmpfs_filetrans(compresmon_t, compresmon_tmpfs_t, { dir file lnk_file })
manage_files_pattern(compresmon_t, compresmon_tmpfs_t, compresmon_tmpfs_t)

logging_create_devlog_dev(compresmon_t)
logging_manage_generic_dirs_logs(compresmon_t)
logging_manage_generic_logs(compresmon_t)

dev_read_sysfs(compresmon_t)

dev_rw_vfio_dev(compresmon_t)

dev_rw_ksync_dev(compresmon_t)

logging_send_syslog_msg(compresmon_t)

userdom_mmap_rw_inherited_user_tmp_files(compresmon_t)
sysnet_manage_config(compresmon_t)
sysnet_filetrans_named_content(compresmon_t)
sysnet_filetrans_net_conf(compresmon_t)

fs_rw_tmpfs_files(compresmon_t)
fs_map_tmpfs_files(compresmon_t)
fs_delete_tmpfs_files(compresmon_t)
corenet_tcp_connect_unreserved_ports(compresmon_t)
userdom_manage_tmp_files(compresmon_t)
corecmd_exec_bin(compresmon_t)
vhost_user_write_vhost_socket(compresmon_t)

dev_rw_profiler_dev(compresmon_t)
kernel_read_proc_files(compresmon_t)
safetymonitor_rw_tmpfs_files(compresmon_t)
fs_map_tmpfs_files(compresmon_tmpfs_t)
fs_manage_tmpfs_files(compresmon_tmpfs_t)
allow compresmon_t compresmon_tmpfs_t:file map;
