# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qti_ipp, 1.0)

type ipp_t;
type ipp_exec_t;
type ipp_lib_t;
type ipp_tmpfs_t;
type ipp_tmp_t;
type ipp_power_t;

init_daemon_domain(ipp_t,ipp_exec_t)

# dosfs_t
fs_rw_dos_dirs(ipp_t)
fs_list_dos(ipp_t)
fs_read_dos_files(ipp_t)

# tmp_t adn tmpfs_t
files_list_var(ipp_t)
files_tmp_file(ipp_t)
files_tmpfs_file(ipp_t)
fs_create_mmap_rw_tmpfs_files(ipp_t)
fs_create_write_tmp_files(ipp_t)
fs_delete_tmpfs_files(ipp_t)
fs_rw_tmpfs_dirs(ipp_t)

# sysfs_t
dev_read_sysfs(ipp_t)

ipp_manage_ipp_exec_files(ipp_t)

# smcinvoke
dev_rw_smcinvoke_dev(ipp_t)

# rw /dev/dma_heap/linux,cma
dev_rw_dma_dev(ipp_t)

# unconfined_server_t
unconfined_server_signull(ipp_t)
unconfined_server_ptrace(ipp_t)

# /usr/lib/libkiumd,liblrms,liblrmc
dev_rw_kiumd_dev(ipp_t)
libkiumd_mmap_exec_lib_file(ipp_t)

#=============gpce_be_t==================
gpce_be_rw_tmpfs_files(ipp_t)

#===========logging===============
logging_create_devlog_dev(ipp_t)
logging_read_syslog_pid(ipp_t)
logging_dgram_send(ipp_t)

# local
allow ipp_t self:process { setrlimit setsched };
allow ipp_t self:capability { sys_resource };
allow ipp_t self:unix_dgram_socket { create connect write };

power_use_pm_register(ipp_t, ipp_power_t)