# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy interface for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to powercyclemgr related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_signull',`
    gen_require(`
        type powercyclemgr_t;
    ')

    allow $1 powercyclemgr_t:process signull;
')

######################################
## <summary>
##  Check powercyclemgr related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_rm_read_pid',`
    gen_require(`
        type powercyclemgr_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, powercyclemgr_t, powercyclemgr_t)
')

######################################
## <summary>
##  ptrace to powercyclemgr related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_ptrace',`
    gen_require(`
        type powercyclemgr_t;
    ')

    allow $1 powercyclemgr_t:process ptrace;
')

######################################
## <summary>
##  create files under tmpfs filesystem for powercyclemgr-rm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_create_tmpfs_files',`
    gen_require(`
        type powercyclemgr_tmpfs_t;
    ')

    create_files_pattern($1, powercyclemgr_tmpfs_t, powercyclemgr_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write powercyclemgr-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_mmap_rw_tmpfs_files',`
    gen_require(`
        type powercyclemgr_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, powercyclemgr_tmpfs_t, powercyclemgr_tmpfs_t)
')

######################################
## <summary>
##  Read and write powercyclemgr tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_rw_tmpfs_files',`
    gen_require(`
        type powercyclemgr_tmpfs_t;
    ')

    rw_files_pattern($1, powercyclemgr_tmpfs_t, powercyclemgr_tmpfs_t)
')


######################################
## <summary>
##  read and open mouse and event device for chr_files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`powercyclemgr_read_chr_files',`
    gen_require(`
        type mouse_device_t;
        type event_device_t;
    ')
 
    allow $1 event_device_t:chr_file { ioctl open read write };
    allow $1 mouse_device_t:chr_file { ioctl open read write };
 
')

