# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(adbd, 1.0)

type adbd_t;
type adbd_exec_t;

init_system_domain(adbd_t, adbd_exec_t)

# in selinux-policy-targeted, shell is unconfined domain by default,
# so here we keep unconfined domain for adbd
unconfined_domain(adbd_t)

logging_send_syslog_msg(adbd_t)

# port 5555
corenet_tcp_connect_generic_port(adbd_t)
