# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Read adreno related process infomation.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_read_pid',`
    gen_require(`
        type adreno200_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, adreno200_t, adreno200_t)
')

######################################
## <summary>
##  ptrace to adreno related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_ptrace',`
    gen_require(`
        type adreno200_t;
    ')

    allow $1 adreno200_t:process ptrace;
')

######################################
## <summary>
##  Send signull to adreno related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_signull',`
    gen_require(`
        type adreno200_t;
    ')

    allow $1 adreno200_t:process signull;
')

######################################
## <summary>
##  Map, read and write adreno200-binaries tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_mmap_rw_tmpfs_files',`
    gen_require(`
        type adreno200_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, adreno200_tmpfs_t, adreno200_tmpfs_t)
')

######################################
## <summary>
## Open read write adreno200-binaries tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_rw_tmpfs_files',`
    gen_require(`
        type adreno200_tmpfs_t;
    ')

    rw_files_pattern($1, adreno200_tmpfs_t, adreno200_tmpfs_t)
')

######################################
## <summary>
##  Read and write scmi devices (/dev/scmi_gfx).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_rw_scmi_dev',`
    gen_require(`
        type device_t, adreno200_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, adreno200_dev_t)
')

######################################
## <summary>
##  Delete adreno200-binaries tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_delete_tmpfs_files',`
    gen_require(`
        type adreno200_tmpfs_t;
    ')

    delete_files_pattern($1, adreno200_tmpfs_t, adreno200_tmpfs_t)
')

######################################
## <summary>
##  Read adreno200-binaries tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_read_tmpfs_files',`
    gen_require(`
        type adreno200_tmpfs_t;
    ')

    read_files_pattern($1, adreno200_tmpfs_t, adreno200_tmpfs_t)
')

######################################
## <summary>
##   Use adreno file descriptors.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`adreno200_use_fds',`
    gen_require(`
        type adreno200_t;
    ')

    allow $1 adreno200_t:fd use;
')

######################################
## <summary>
##  Use unix socket to connect kgsl.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_connect_sock',`
    gen_require(`
        type adreno200_t;
    ')

    allow $1 adreno200_t:unix_stream_socket connectto;
    allow adreno200_t $1:unix_stream_socket connectto;
')

######################################
## <summary>
##  Allow domain to manage adreno200 power sock files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`adreno200_power_manage_sock',`
    gen_require(`
        type adreno200_power_t;
    ')

    manage_sock_files_pattern($1, adreno200_power_t, adreno200_power_t)
')
