# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(compresmon, 1.0)

type compresmon_t;
type compresmon_exec_t;
type compresmon_tmp_t;
type compresmon_tmpfs_t;

init_daemon_domain(compresmon_t, compresmon_exec_t)

init_rw_script_stream_sockets(compresmon_t)
init_signull_script(compresmon_t)

#/etc/compresmgr_cpu_config.xml
compresmgr_rw_etc_files(compresmon_t)

libkiumd_ioctl_lib_file(compresmon_t)
libkiumd_mmap_exec_lib_file(compresmon_t)
dev_rw_kiumd_dev(compresmon_t)

unconfined_server_signull(compresmon_t)
unconfined_ptrace(compresmon_t)
unconfined_server_ptrace(compresmon_t)

files_manage_var_files(compresmon_t)

allow compresmon_t self:process { setrlimit setsched getsched signull ptrace };
allow compresmon_t self:capability { sys_resource sys_nice sys_ptrace net_admin };
allow compresmon_t self:unix_dgram_socket { create connect };
allow compresmon_t self:tcp_socket { read write create connect getopt setopt };
allow compresmon_t compresmon_tmpfs_t:file map;

files_tmp_file(compresmon_tmp_t)
files_tmp_filetrans(compresmon_t, compresmon_tmp_t, { dir file })
manage_files_pattern(compresmon_t, compresmon_tmp_t, compresmon_tmp_t)

files_tmpfs_file(compresmon_tmpfs_t)
fs_tmpfs_filetrans(compresmon_t, compresmon_tmpfs_t, { dir file lnk_file })
manage_files_pattern(compresmon_t, compresmon_tmpfs_t, compresmon_tmpfs_t)

logging_create_devlog_dev(compresmon_t)
logging_manage_generic_dirs_logs(compresmon_t)
logging_manage_generic_logs(compresmon_t)

dev_read_sysfs(compresmon_t)

dev_rw_vfio_dev(compresmon_t)

dev_rw_ksync_dev(compresmon_t)

# open/read/write chr_file
dev_rw_input_dev(compresmon_t)

logging_send_syslog_msg(compresmon_t)

userdom_mmap_rw_inherited_user_tmp_files(compresmon_t)
sysnet_manage_config(compresmon_t)
sysnet_filetrans_named_content(compresmon_t)
sysnet_filetrans_net_conf(compresmon_t)

fs_rw_tmpfs_files(compresmon_t)
fs_map_tmpfs_files(compresmon_t)
fs_delete_tmpfs_files(compresmon_t)
corenet_tcp_connect_unreserved_ports(compresmon_t)
userdom_manage_tmp_files(compresmon_t)
corecmd_exec_bin(compresmon_t)
vhost_user_write_vhost_socket(compresmon_t)

dev_rw_profiler_dev(compresmon_t)
kernel_read_proc_files(compresmon_t)
safetymonitor_rw_tmpfs_files(compresmon_t)

fastrpc_rm_rw_tmpfs_files(compresmon_t)

#Updated policies for nord onwards features
userdom_rw_user_tmpfs_files(compresmon_t)
userdom_map_user_tmpfs_files(compresmon_t)
userdom_delete_user_tmpfs_files(compresmon_t)
unconfined_signull(compresmon_t)
pilrm_rw_tmpfs_files(compresmon_t)
unconfined_use_fds(compresmon_t)
files_manage_default_files(compresmon_t)
files_read_etc_files(compresmon_t)
files_search_default(compresmon_t)
systemd_read_resolved_runtime(compresmon_t)

init_ptrace_script(compresmon_t)
dev_rw_dma_dev(compresmon_t)
