# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy interface for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to compute-ressched related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compressch_signull',`
    gen_require(`
        type compressch_t;
    ')

    allow $1 compressch_t:process signull;
')

######################################
## <summary>
##  Allow transition to compute-ressched domain under NNP.
##  Needed when executing the client from adb shell
## </summary>
## <param name="domain">
##  <summary>
##  domain the client is executed in
##  </summary>
## </param>
#
interface(`compressch_nnp_transition',`
    gen_require(`
        type compressch_t;
    ')

    allow $1 compressch_t:process2 nnp_transition;
')

######################################
## <summary>
##  Map, read and write compute-ressched tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compressch_mmap_rw_tmpfs_files',`
    gen_require(`
        type compressch_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, compressch_tmpfs_t, compressch_tmpfs_t)
')
