# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy interface for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to compresmgr related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmgr_signull',`
    gen_require(`
        type compresmgr_t;
    ')

    allow $1 compresmgr_t:process signull;
')

######################################
## <summary>
##  Map, read and write compresmgr tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmgr_mmap_rw_tmpfs_files',`
    gen_require(`
        type compresmgr_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, compresmgr_tmpfs_t, compresmgr_tmpfs_t)
')

######################################
## <summary>
##  Delete compresmgr tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmgr_delete_tmpfs_files',`
    gen_require(`
        type compresmgr_tmpfs_t;
    ')

    allow $1 compresmgr_tmpfs_t:file delete_file_perms;
')

######################################
## <summary>
##  Read and write compresmgr config files under /etc.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`compresmgr_rw_etc_files',`
    gen_require(`
        type etc_t;
        type compresmgr_etc_t;
    ')

    list_dirs_pattern($1, etc_t, compresmgr_etc_t)
    rw_files_pattern($1, etc_t, compresmgr_etc_t)
')

########################################
## <summary>
##  Transition to compresmgr_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`compresmgr_nnp_trans',`
    gen_require(`
        type compresmgr_t;
    ')

    allow $1 compresmgr_t:process2 nnp_transition;
')

########################################
## <summary>
##  map hscnoc device (/dev/hscnoc).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`compresmgr_map_hscnoc_dev',`
    gen_require(`
        type hscnoc_device_t;
    ')
    allow $1 hscnoc_device_t:chr_file map;
')

########################################
## <summary>
##  Read and write hscnoc device (/dev/hscnoc).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`compresmgr_rw_hscnoc_dev',`
    gen_require(`
        type device_t, hscnoc_device_t;
    ')

    rw_chr_files_pattern($1, device_t, hscnoc_device_t)
')