# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(diag-service, 1.0)

type diag_service_t;
type diag_service_exec_t;
type diag_service_tmp_t;
type diag_service_tmpfs_t;
type diag_service_power_t;

init_daemon_domain(diag_service_t, diag_service_exec_t)

init_rw_script_stream_sockets(diag_service_t)

logging_send_syslog_msg(diag_service_t)
fs_getattr_xattr_fs(diag_service_t)
# port 2500
corenet_tcp_connect_unreserved_ports(diag_service_t)
corenet_tcp_bind_generic_node(diag_service_t)

glinkserver_ptrace(diag_service_t)
glinkserver_use_fds(diag_service_t)

audio_service_signull(diag_service_t)
ssctl_service_signull(diag_service_t)
unconfined_server_signull(diag_service_t)

ssrrm_rw_tmpfs_files(diag_service_t)
glinkserver_rw_tmpfs_files(diag_service_t)
audioservice_mmap_rw_tmpfs_files(diag_service_t)
audioservice_delete_tmpfs_files(diag_service_t)
ssctl_service_mmap_rw_tmpfs_files(diag_service_t)
kernel_search_debugfs(diag_service_t)
fs_search_tracefs_dirs(diag_service_t)
fs_rw_tracefs_files(diag_service_t)

# kernel
kernel_signull(diag_service_t)
kernel_read_unlabeled_state(diag_service_t)
# diagservice
diagservice_mmap_rw_tmpfs_files(diag_service_t)

# ========== local ==========
allow diag_service_t self:unix_dgram_socket { create connect getopt setopt };
allow diag_service_t self:tcp_socket { create connect getopt setopt bind read write };
allow diag_service_t self:process { setrlimit setsched getsched };
allow diag_service_t self:capability { sys_resource sys_nice net_admin sys_ptrace };
allow diag_service_t self:process signal;

# /tmp/lrms_log_(pid).txt
files_tmp_file(diag_service_tmp_t)
files_tmp_filetrans(diag_service_t, diag_service_tmp_t, { dir fifo_file file lnk_file })
manage_files_pattern(diag_service_t, diag_service_tmp_t, diag_service_tmp_t)

files_tmpfs_file(diag_service_tmpfs_t)
fs_tmpfs_filetrans(diag_service_t, diag_service_tmpfs_t, { dir file })
create_files_pattern(diag_service_t, diag_service_tmpfs_t, diag_service_tmpfs_t)
mmap_rw_files_pattern(diag_service_t, diag_service_tmpfs_t, diag_service_tmpfs_t)

# Manage tmp files
userdom_manage_user_tmp_files(diag_service_t)
userdom_map_tmp_files(diag_service_t)

#tmpfs_t
fs_getattr_tmpfs(diag_service_t)

#var_t
files_manage_var_dirs(diag_service_t)
files_manage_var_files(diag_service_t)
files_read_var_symlinks(diag_service_t)

# var-log
logging_create_generic_logs(diag_service_t)
logging_manage_generic_logs(diag_service_t)
logging_manage_generic_dirs_logs(diag_service_t)

#libkiumd
libkiumd_mmap_exec_lib_file(diag_service_t)

userdom_mmap_rw_inherited_user_tmp_files(diag_service_t)

dev_read_sysfs(diag_service_t)
files_read_etc_files(diag_service_t)
files_read_etc_runtime_files(diag_service_t)
fs_delete_tmpfs_files(diag_service_t)

#lrms
userdom_manage_user_tmpfs_files(diag_service_t)
unconfined_signull(diag_service_t)
mmap_rw_files_pattern(diag_service_t,user_tmpfs_t,user_tmpfs_t)

init_signull_script(diag_service_t)
fs_map_tmpfs_files(diag_service_t)
fs_rw_tmpfs_files(diag_service_t)

allow diag_service_t diag_service_tmpfs_t:file unlink;
qdss_service_signull(diag_service_t)
qdssservice_mmap_rw_tmpfs_files(diag_service_t)
qdssservice_rw_tmpfs_files(diag_service_t)

# pm_register
power_use_pm_register(diag_service_t, diag_service_power_t)

#for saving initial DSP log
allow diag_service_t diag_service_tmpfs_t:file append;
