# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to display-be related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`display_be_signull',`
    gen_require(`
        type display_be_t;
    ')

    allow $1 display_be_t:process signull;
')

######################################
## <summary>
##  Check display-be related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`display_be_read_pid',`
    gen_require(`
        type display_be_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, display_be_t, display_be_t)
')

######################################
## <summary>
##  ptrace to display-be related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`display_be_ptrace',`
    gen_require(`
        type display_be_t;
    ')

    allow $1 display_be_t:process ptrace;
')


######################################
## <summary>
##  Read, write, and map display-be tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`display_be_mmap_rw_tmpfs_files',`
    gen_require(`
        type display_be_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, display_be_tmpfs_t, display_be_tmpfs_t)
')

######################################
## <summary>
##  Delete display-be tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`display_be_delete_tmpfs_files',`
    gen_require(`
        type display_be_tmpfs_t;
    ')

    allow $1 display_be_tmpfs_t:file delete_file_perms;
')
