# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(display-be, 1.0)

type display_be_t;
type display_be_exec_t;
type display_be_tmp_t;
type display_be_tmpfs_t;

init_daemon_domain(display_be_t, display_be_exec_t)

init_rw_script_stream_sockets(display_be_t)

dev_rw_dma_dev(display_be_t)
dev_rw_hab_dev(display_be_t)

owfds_map_lib_files(display_be_t)
owfds_rw_tmpfs_files(display_be_t)

logging_create_devlog_dev(display_be_t)
logging_dgram_send(display_be_t)

kernel_search_vm_sysctl(display_be_t)

# ========== local ==========
allow display_be_t self:unix_dgram_socket { create connect sendto };
allow display_be_t self:process { setrlimit setsched };
allow display_be_t self:capability { sys_resource sys_nice dac_override };
allow display_be_t self:unix_dgram_socket { write };

# /tmp/lrmc_log_(pid).txt
files_tmp_file(display_be_tmp_t)
files_tmp_filetrans(display_be_t, display_be_tmp_t, { dir fifo_file file lnk_file })
manage_files_pattern(display_be_t, display_be_tmp_t, display_be_tmp_t)

# /dev/shm/lrmc_rq_(pid)_l
files_tmpfs_file(display_be_tmpfs_t)
fs_tmpfs_filetrans(display_be_t, display_be_tmpfs_t, file)
manage_files_pattern(display_be_t, display_be_tmpfs_t, display_be_tmpfs_t)
display_be_mmap_rw_tmpfs_files(display_be_t)

#libkiumd
libkiumd_mmap_exec_lib_file(display_be_t)

#/usr/bin/be_log.cfg
audioservice_read_etc_files(display_be_t)

#/usr/bin/config.xml
corecmd_read_bin_files(display_be_t)

compresmgr_rw_etc_files(display_be_t)
