# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to fastrpc-rm related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_signull',`
    gen_require(`
        type fastrpc_rm_t;
    ')

    allow $1 fastrpc_rm_t:process signull;
')

######################################
## <summary>
##  Check fastrpc-rm related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_read_pid',`
    gen_require(`
        type fastrpc_rm_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, fastrpc_rm_t, fastrpc_rm_t)
')

######################################
## <summary>
##  ptrace to fastrpc-rm related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_ptrace',`
    gen_require(`
        type fastrpc_rm_t;
    ')

    allow $1 fastrpc_rm_t:process ptrace;
')

######################################
## <summary>
##  Use fastrpc-rm file descriptors.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_use_fds',`
    gen_require(`
        type fastrpc_rm_t;
    ')

    allow $1 fastrpc_rm_t:fd use;
')

######################################
## <summary>
##  create files under tmpfs filesystem for fastrpc-rm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_create_tmpfs_files',`
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')

    create_files_pattern($1, fastrpc_rm_tmpfs_t, fastrpc_rm_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write fastrpc-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_mmap_rw_tmpfs_files',`
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, fastrpc_rm_tmpfs_t, fastrpc_rm_tmpfs_t)
')

######################################
## <summary>
##  Read and write fastrpc-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_rw_tmpfs_files',`
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')

    rw_files_pattern($1, fastrpc_rm_tmpfs_t, fastrpc_rm_tmpfs_t)
')

######################################
## <summary>
##  Read fastrpc-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_read_tmpfs_files',`
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')

    read_files_pattern($1, fastrpc_rm_tmpfs_t, fastrpc_rm_tmpfs_t)
')

######################################
## <summary>
##  Read and write fastrpc-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_rm_unlink_tmpfs_files',`
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')

    allow $1 fastrpc_rm_tmpfs_t:file unlink;
')

######################################
## <summary>
##  Read fastrpc-rm user_tmpfs_t files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_read_user_tmpfs',`
    gen_require(`
        type user_tmpfs_t;
    ')

    allow $1 user_tmpfs_t:file read;
')

######################################
## <summary>
##  Write fastrpc-rm user_tmpfs_t files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_write_user_tmpfs',`
    gen_require(`
        type user_tmpfs_t;
    ')

    allow $1 user_tmpfs_t:file write;
')

######################################
## <summary>
##  Open fastrpc-rm user_tmpfs_t files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_open_user_tmpfs',`
    gen_require(`
        type user_tmpfs_t;
    ')

    allow $1 user_tmpfs_t:file open;
')

######################################
## <summary>
##  Map fastrpc-rm user_tmpfs_t files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`fastrpc_map_user_tmpfs',`
    gen_require(`
        type user_tmpfs_t;
    ')

    allow $1 user_tmpfs_t:file map;
')

interface(`fastrpc_rw_rm_tmpfs_files', `
    gen_require(`
        type fastrpc_rm_tmpfs_t;
    ')
    rw_files_pattern($1, fastrpc_rm_tmpfs_t, fastrpc_rm_tmpfs_t)
')

interface(`fastrpc_rm_interact',`
    gen_require(`
        type fastrpc_rm_t;
    ')

    allow $1 fastrpc_rm_t:fd use;
    allow $1 fastrpc_rm_t:process ptrace;
')
