# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(firmware, 1.0)

# Defined type for /vendor/dsp
type dsp_file_t;

files_mountpoint(dsp_file_t)
fs_associate(dsp_file_t)
