# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##  Map GPTEE library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`gptee_mmap_lib_files',`
    gen_require(`
        type gptee_lib_t;
    ')

    allow $1 gptee_lib_t:file mmap_exec_file_perms;
')


########################################
## <summary>
##  getattr to GPTEE library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`gptee_read_lib_files',`
    gen_require(`
        type gptee_lib_t;
    ')

    allow $1 gptee_lib_t:file read_file_perms;
')

########################################
## <summary>
##  manage GPTEE library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`gptee_manage_lib_files',`
    gen_require(`
        type gptee_lib_t, lib_t;
    ')

    manage_files_pattern($1, lib_t, gptee_lib_t)
')
