# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(hyp-video-be, 1.0)

type hyp_video_t;
type hyp_video_exec_t;
type hyp_video_tmp_t;
type hyp_video_tmpfs_t;

init_daemon_domain(hyp_video_t, hyp_video_exec_t)

logging_send_syslog_msg(hyp_video_t)

# mmosal_logmask.cfg
kernel_read_unlabeled_state(hyp_video_t)
files_read_default_files(hyp_video_t)

# Todo, unlabeled_t, could remove after setting selinxu context to /data mount
files_mounton_isid_type_dirs(hyp_video_t)
files_manage_isid_type_files(hyp_video_t)

dev_rw_hab_dev(hyp_video_t)

qseecomd_search_data(hyp_video_t)

videodriver_rw_tmpfs_files(hyp_video_t)

# ========== local ==========
allow hyp_video_t self:unix_dgram_socket { create connect getopt setopt };
allow hyp_video_t self:process { setsched };
allow hyp_video_t self:capability { sys_resource sys_nice net_admin kill dac_override};

files_tmp_file(hyp_video_tmp_t)
files_tmp_filetrans(hyp_video_t, hyp_video_tmp_t, { dir fifo_file file lnk_file })
create_files_pattern(hyp_video_t, hyp_video_tmp_t, hyp_video_tmp_t)
create_dirs_pattern(hyp_video_t, hyp_video_tmp_t, hyp_video_tmp_t)
manage_fifo_files_pattern(hyp_video_t, hyp_video_tmp_t, hyp_video_tmp_t)

files_tmpfs_file(hyp_video_tmpfs_t)
fs_tmpfs_filetrans(hyp_video_t, hyp_video_tmpfs_t, { dir file })
manage_files_pattern(hyp_video_t, hyp_video_tmpfs_t, hyp_video_tmpfs_t)

# /usr/lib/libkiumd,liblrms,liblrmc
libkiumd_mmap_exec_lib_file(hyp_video_t)
libkiumd_ioctl_lib_file(hyp_video_t)
libkiumd_relabel_lib_files(hyp_video_t)
libkiumd_manage_lib_files(hyp_video_t)
