# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to nsp_drv_t.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nsp_drv_signull',`
    gen_require(`
        type nsp_drv_t;
    ')

    allow $1 nsp_drv_t:process signull;
')

######################################
## <summary>
##  Read nsp-drv proc infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nsp_drv_read_pid',`
    gen_require(`
        type nsp_drv_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, nsp_drv_t, nsp_drv_t)
')

######################################
## <summary>
##  Map, read and write nsp-drv tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nspdrv_mmap_rw_tmpfs_files',`
    gen_require(`
        type nsp_drv_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, nsp_drv_tmpfs_t, nsp_drv_tmpfs_t)
')

######################################
## <summary>
##  Delete nsp-drv tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nspdrv_delete_tmpfs_files',`
    gen_require(`
        type nsp_drv_tmpfs_t;
    ')

    delete_files_pattern($1, nsp_drv_tmpfs_t, nsp_drv_tmpfs_t)
')

######################################
## <summary>
##  Read nsp-drv tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nspdrv_read_tmpfs_files',`
    gen_require(`
        type nsp_drv_tmpfs_t;
    ')

    read_files_pattern($1, nsp_drv_tmpfs_t, nsp_drv_tmpfs_t)
')

######################################
## <summary>
##  Read and write nsp_drv config files in /usr/share.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nspdrv_rw_usr_config_files',`
    gen_require(`
        type nsp_drv_conf_t;
        type usr_t;
    ')

    list_dirs_pattern($1, usr_t, nsp_drv_conf_t)
    rw_files_pattern($1, usr_t, nsp_drv_conf_t)
')

######################################
## <summary>
##  Read and write nsp_drv config files in /etc.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`nspdrv_rw_etc_config_files',`
    gen_require(`
        type nsp_drv_conf_t;
        type etc_t;
    ')

    list_dirs_pattern($1,etc_t, nsp_drv_conf_t)
    rw_files_pattern($1, etc_t, nsp_drv_conf_t)
')
