# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(nsp-drv, 1.0)

type nsp_drv_t;
type nsp_drv_exec_t;
type nsp_drv_tmp_t;
type nsp_drv_tmpfs_t;
type nsp_drv_conf_t;
type umd_nsp_drv_device_t;

init_daemon_domain(nsp_drv_t, nsp_drv_exec_t)
dev_node(umd_nsp_drv_device_t)

init_rw_script_stream_sockets(nsp_drv_t)
init_signull_script(nsp_drv_t)

logging_send_syslog_msg(nsp_drv_t)

#/usr/share/nsp_drv_config.xml
files_config_file(nsp_drv_conf_t)
nspdrv_rw_usr_config_files(nsp_drv_t)

# /etc/nsp_config_*.xml
nspdrv_rw_etc_config_files(nsp_drv_t)

pil_rm_signull(nsp_drv_t)
pilrm_rw_tmpfs_files(nsp_drv_t)

dev_rw_kiumd_dev(nsp_drv_t)
dev_rw_vfio_dev(nsp_drv_t)
nsp_drv_rm_rw_umd_dev(nsp_drv_t)
dev_read_sysfs(nsp_drv_t)

files_tmp_file(nsp_drv_tmp_t)
files_tmp_filetrans(nsp_drv_t, nsp_drv_tmp_t, { dir file })
create_files_pattern(nsp_drv_t, nsp_drv_tmp_t, nsp_drv_tmp_t)
manage_files_pattern(nsp_drv_t, nsp_drv_tmp_t, nsp_drv_tmp_t)

fs_rw_tmpfs_files(nsp_drv_t)
fs_map_tmpfs_files(nsp_drv_t)
fs_delete_tmpfs_files(nsp_drv_t)
files_tmpfs_file(nsp_drv_tmpfs_t)
fs_tmpfs_filetrans(nsp_drv_t, nsp_drv_tmpfs_t, { dir file })
create_files_pattern(nsp_drv_t, nsp_drv_tmpfs_t, nsp_drv_tmpfs_t)
nspdrv_mmap_rw_tmpfs_files(nsp_drv_t)
nspdrv_delete_tmpfs_files(nsp_drv_t)
safetymonitor_rw_tmpfs_files(nsp_drv_t)
files_read_safety_config_files(nsp_drv_t)

nspdrv_delete_tmpfs_files(nsp_drv_t)
nspconfig_signull(nsp_drv_t)
nspconfig_create_tmpfs_files(nsp_drv_t)
nspconfig_mmap_rw_tmpfs_files(nsp_drv_t)
nspconfig_rw_tmpfs_files(nsp_drv_t)

#libkiumd
libkiumd_mmap_exec_lib_file(nsp_drv_t)
nsp_drv_rm_map_umd_dev(nsp_drv_t)

# pfm
pfm_rw_tmpfs_files(nsp_drv_t)

power_create_sock_files(nsp_drv_t)
power_setattr_sock_files(nsp_drv_t)

# /etc/compresmgr_cpu_config.xml
compresmgr_rw_etc_files(nsp_drv_t)

# /dev/mqueue/fastrpc-rm
fastrpc_rm_rw_tmpfs_files(nsp_drv_t)
fastrpc_rm_ptrace(nsp_drv_t)

# dmabuf
fastrpc_rm_use_fds(nsp_drv_t)

# dm-0, vendor
files_search_default(nsp_drv_t)

# sde10,/vendor/dsp/cdsp/fastrpc_shell_unsigned_3 
firmware_search_dsp_dirs(nsp_drv_t)
firmware_read_dsp_files(nsp_drv_t)

# /var/volatile/log/frpc
files_create_var_dirs(nsp_drv_t)
files_watch_var_dirs(nsp_drv_t)
files_list_var_dirs(nsp_drv_t)
files_read_var_symlinks(nsp_drv_t)

# /var overlay
kernel_read_unlabeled_state(nsp_drv_t)

## ========== local ==========
allow nsp_drv_t self:unix_dgram_socket { create connect getopt setopt };
allow nsp_drv_t self:unix_stream_socket { listen };
allow nsp_drv_t self:process { setrlimit setsched getsched signal };
allow nsp_drv_t self:capability { sys_resource net_admin sys_nice };
# Allow access to safety configuration files
files_read_safety_config_files(nsp_drv_t)

allow nsp_drv_t nsp_drv_tmpfs_t:file map;
allow nsp_drv_t nsp_drv_tmpfs_t:file unlink;
