# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##  Map openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_map_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file mmap_exec_file_perms;
')

########################################
## <summary>
##  getattr to openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_read_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file read_file_perms;
')

########################################
## <summary>
##  manage openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_manage_lib_files',`
    gen_require(`
        type openwfd_lib_t, lib_t;
    ')

    manage_files_pattern($1, lib_t, openwfd_lib_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for owfds.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_create_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    create_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read and write owfds tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_rw_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    rw_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read files under tmpfs filesystem for owfds.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_read_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    read_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write openwfd tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_mmap_rw_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Send signull to openwfd_server_t.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_signull',`
    gen_require(`
        type openwfd_server_t;
    ')

    allow $1 openwfd_server_t:process signull;
')

######################################
## <summary>
##  openwfd server ptrace
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_ptrace',`
     gen_require(`
         type openwfd_server_t;
     ')

     allow $1 openwfd_server_t:process ptrace;
')

######################################
## <summary>
##  Read and write device nodes (/dev/scmi_mdss0 /dev/scmi_mdss1 /dev/hab-virq).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_rw_dev',`
    gen_require(`
        type device_t, openwfd_server_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, openwfd_server_dev_t)
')

######################################
## <summary>
##  Read and write vfio_dpu_safe_00 device (/dev/vfio_dpu_safe_00)
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`safeserver_rw_vfio_dpu_safe_00_dev',`
    gen_require(`
        type vfio_dpu_safe_device_0_t;
    ')
    allow $1 vfio_dpu_safe_device_0_t:chr_file rw_chr_file_perms;
')

########################################
## <summary>
##      map umd_pil device.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`dev_map_vfio_dpu_safe_00_dev',`
    gen_require(`
        type vfio_dpu_safe_device_0_t;
    ')

    allow $1 vfio_dpu_safe_device_0_t:chr_file map;
')

######################################
## <summary>
##  Read and write vfio_dpu_safe_10 device (/dev/vfio_dpu_safe_10)
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`safeserver_rw_vfio_dpu_safe_10_dev',`
    gen_require(`
        type vfio_dpu_safe_device_1_t;
    ')
    allow $1 vfio_dpu_safe_device_1_t:chr_file rw_chr_file_perms;
')

########################################
## <summary>
##      map vfio_dpu_safe_10 device (/dev/vfio_dpu_safe_10)
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`dev_map_vfio_dpu_safe_10_dev',`
    gen_require(`
        type vfio_dpu_safe_device_1_t;
    ')

    allow $1 vfio_dpu_safe_device_1_t:chr_file map;
')