# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##  Map openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_map_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file mmap_exec_file_perms;
')

########################################
## <summary>
##  getattr to openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_read_lib_files',`
    gen_require(`
        type openwfd_lib_t;
    ')

    allow $1 openwfd_lib_t:file read_file_perms;
')

########################################
## <summary>
##  manage openwfd library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`owfds_manage_lib_files',`
    gen_require(`
        type openwfd_lib_t, lib_t;
    ')

    manage_files_pattern($1, lib_t, openwfd_lib_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for owfds.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_create_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    create_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read and write owfds tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`owfds_rw_tmpfs_files',`
    gen_require(`
        type openwfd_tmpfs_t;
    ')

    rw_files_pattern($1, openwfd_tmpfs_t, openwfd_tmpfs_t)
')

######################################
## <summary>
##  Read and write scmi devices (/dev/scmi_mdss0 /dev/scmi_mdss1).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`openwfd_server_rw_scmi_dev',`
    gen_require(`
        type device_t, openwfd_server_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, openwfd_server_dev_t)
')
