# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(pfm, 1.0)

type pfm_t;
type pfm_exec_t;
type pfm_tmp_t;
type pfm_tmpfs_t;

init_daemon_domain(pfm_t, pfm_exec_t)

init_rw_script_stream_sockets(pfm_t)
init_signull_script(pfm_t)

logging_send_syslog_msg(pfm_t)

safetymonitor_rw_tmpfs_files(pfm_t)

fs_map_tmpfs_files(pfm_t)
fs_rw_tmpfs_files(pfm_t)
fs_manage_tmpfs_files(pfm_t)

dev_rw_kiumd_dev(pfm_t)
dev_read_sysfs(pfm_t)
libkiumd_mmap_exec_lib_file(pfm_t)

# adreno200
adreno200_mmap_rw_tmpfs_files(pfm_t)
adreno200_signull(pfm_t)
adreno200_delete_tmpfs_files(pfm_t)

# nsp
nspdrv_mmap_rw_tmpfs_files(pfm_t)
nsp_rsm_signull(pfm_t)
nsp_drv_signull(pfm_t)
nspdrv_delete_tmpfs_files(pfm_t)

# qcxserver
qcxserver_mmap_rw_tmpfs_files(pfm_t)
qcxserver_signull(pfm_t)
qcxserver_delete_tmpfs_files(pfm_t)

# eva
evauto_mmap_rw_tmpfs_files(pfm_t)
eva_auto_signull(pfm_t)
evauto_delete_tmpfs_files(pfm_t)

# compresmgr
compresmgr_signull(pfm_t)
compresmgr_mmap_rw_tmpfs_files(pfm_t)
compresmgr_delete_tmpfs_files(pfm_t)
compresmgr_rw_etc_files(pfm_t)

# xml reading access /etc/safety_config
files_read_safety_config_files(pfm_t)

# testapp printing into terminal
term_rw_devpts_chr_files(pfm_t)

# lrms
userdom_manage_user_tmpfs_files(pfm_t)
unconfined_signull(pfm_t)
mmap_rw_files_pattern(pfm_t,user_tmpfs_t,user_tmpfs_t)

# ========== local ==========
allow pfm_t self:unix_dgram_socket { create connect };
allow pfm_t self:process { setrlimit setsched getsched };
allow pfm_t self:capability { sys_resource sys_nice net_admin dac_override kill };

files_tmp_file(pfm_tmp_t)
files_tmp_filetrans(pfm_t, pfm_tmp_t, { dir fifo_file file lnk_file })
create_files_pattern(pfm_t, pfm_tmp_t, pfm_tmp_t)
manage_files_pattern(pfm_t, pfm_tmp_t, pfm_tmp_t)

files_tmpfs_file(pfm_tmpfs_t)
fs_tmpfs_filetrans(pfm_t, pfm_tmpfs_t, { dir file })
create_files_pattern(pfm_t, pfm_tmpfs_t, pfm_tmpfs_t)
manage_files_pattern(pfm_t, pfm_tmpfs_t, pfm_tmpfs_t)
pfm_mmap_rw_tmpfs_files(pfm_t)
pfm_delete_tmpfs_files(pfm_t)
