# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Check pfm related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pfm_read_pid',`
    gen_require(`
        type pfm_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, pfm_t, pfm_t)
')

######################################
## <summary>
##  Send signull to pfm_t.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pfm_signull',`
    gen_require(`
        type pfm_t;
    ')

    allow $1 pfm_t:process signull;
')

######################################
## <summary>
##  Map, read and write pfm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pfm_mmap_rw_tmpfs_files',`
    gen_require(`
        type pfm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, pfm_tmpfs_t, pfm_tmpfs_t)
')

######################################
## <summary>
##  Delete pfm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pfm_delete_tmpfs_files',`
    gen_require(`
        type pfm_tmpfs_t;
    ')

    delete_files_pattern($1, pfm_tmpfs_t, pfm_tmpfs_t)
')

######################################
## <summary>
##  Read and write pfm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pfm_rw_tmpfs_files',`
    gen_require(`
        type pfm_tmpfs_t;
    ')

    rw_files_pattern($1, pfm_tmpfs_t, pfm_tmpfs_t)
')
