# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(pil-rm, 1.0)

type pil_rm_t;
type pil_rm_exec_t;
type pil_rm_tmp_t;
type pil_rm_tmpfs_t;
type pil_rm_power_t;
type pil_rm_scmi_dev_t;

init_daemon_domain(pil_rm_t, pil_rm_exec_t)

init_rw_script_stream_sockets(pil_rm_t)
init_signull_script(pil_rm_t)

dev_node(pil_rm_scmi_dev_t)

pilrm_rw_scmi_dev(pil_rm_t)

logging_send_syslog_msg(pil_rm_t)

unconfined_server_signull(pil_rm_t)
unconfined_signull(pil_rm_t)

nsp_drv_signull(pil_rm_t)
video_driver_signull(pil_rm_t)
audio_service_signull(pil_rm_t)
adreno200_signull(pil_rm_t)
adreno200_read_pid(pil_rm_t)
ssctl_service_signull(pil_rm_t)

ssrrm_rw_tmpfs_files(pil_rm_t)
ssrrm_signull(pil_rm_t)
ssrrm_tmpfs_map_files(pil_rm_t)

audioservice_delete_tmpfs_files(pil_rm_t)
nspdrv_delete_tmpfs_files(pil_rm_t)
videodriver_delete_tmpfs_files(pil_rm_t)

nspdrv_mmap_rw_tmpfs_files(pil_rm_t)
audioservice_mmap_rw_tmpfs_files(pil_rm_t)
videodriver_mmap_rw_tmpfs_files(pil_rm_t)
adreno200_mmap_rw_tmpfs_files(pil_rm_t)
adreno200_delete_tmpfs_files(pil_rm_t)
ssctl_service_mmap_rw_tmpfs_files(pil_rm_t)

# /firmware/qcom/sa8775p/image/cdsp0.mdt
fs_list_dos(pil_rm_t)
fs_read_dos_files(pil_rm_t)

fs_delete_tmpfs_files(pil_rm_t)
fs_create_mmap_rw_tmpfs_files(pil_rm_t)

#libkiumd
libkiumd_mmap_exec_lib_file(pil_rm_t)

dev_rw_scmnode_dev(pil_rm_t)
dev_dontaudit_scmnode_sec_dev(pil_rm_t)
dev_rw_kiumd_dev(pil_rm_t)
dev_rw_vfio_dev(pil_rm_t)
dev_read_sysfs(pil_rm_t)

# /tmp/lrms_log_*.txt
files_tmp_file(pil_rm_tmp_t)
files_tmp_filetrans(pil_rm_t, pil_rm_tmp_t, { dir file })
create_files_pattern(pil_rm_t, pil_rm_tmp_t, pil_rm_tmp_t)
rw_files_pattern(pil_rm_t, pil_rm_tmp_t, pil_rm_tmp_t)

#/dev/shm/lrmc_rq_(pid)
files_tmpfs_file(pil_rm_tmpfs_t)
fs_tmpfs_filetrans(pil_rm_t, pil_rm_tmpfs_t, { dir file })
pilrm_create_tmpfs_files(pil_rm_t)
pilrm_mmap_rw_tmpfs_files(pil_rm_t)
pilrm_delete_tmpfs_files(pil_rm_t)


#power manager power_use_pm_register
power_use_pm_register(pil_rm_t, pil_rm_power_t)

#/etc/sysconfig/sa8797_hpass0_cfg
files_read_etc_files(pil_rm_t)

# ========== local ==========
allow pil_rm_t self:unix_dgram_socket { create connect getopt setopt };
allow pil_rm_t self:process { setrlimit setsched getsched };
allow pil_rm_t self:capability { sys_resource sys_nice net_admin };

userdom_mmap_rw_inherited_user_tmp_files(pil_rm_t, pil_rm_tmp_t)
userdom_manage_user_tmp_files(pil_rm_t)

dev_map_kiumd_dev(pil_rm_t)

qcxserver_signull(pil_rm_t)
qcxserver_delete_tmpfs_files(pil_rm_t)
qcxserver_mmap_rw_tmpfs_files(pil_rm_t)

evauto_mmap_rw_tmpfs_files(pil_rm_t)
evauto_delete_tmpfs_files(pil_rm_t)
eva_auto_signull(pil_rm_t)
