# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to pil_rm_t.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pil_rm_signull',`
    gen_require(`
        type pil_rm_t;
    ')

    allow $1 pil_rm_t:process signull;
')

######################################
## <summary>
##  create files under tmpfs filesystem for pil-rm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_create_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    create_files_pattern($1, pil_rm_tmpfs_t, pil_rm_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write pil-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_mmap_rw_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, pil_rm_tmpfs_t, pil_rm_tmpfs_t)
')

######################################
## <summary>
##  Read and write pil-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_rw_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    rw_files_pattern($1, pil_rm_tmpfs_t, pil_rm_tmpfs_t)
')

######################################
## <summary>
##  Read pil-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_read_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    read_files_pattern($1, pil_rm_tmpfs_t, pil_rm_tmpfs_t)
')

######################################
## <summary>
##  Delete pil-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_delete_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    delete_files_pattern($1, pil_rm_tmpfs_t, pil_rm_tmpfs_t)
')

######################################
## <summary>
##  Lock pil-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_lock_tmpfs_files',`
    gen_require(`
        type pil_rm_tmpfs_t;
    ')

    allow $1 pil_rm_tmpfs_t:file lock;
')

######################################
## <summary>
##  Read and write scmi devices.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_rw_scmi_dev',`
    gen_require(`
        type device_t, pil_rm_scmi_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, pil_rm_scmi_dev_t)
')

######################################
## <summary>
##  Create the /dev/pil-done file.
##  Read and write umd pil devices.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_create_pil_done_filetrans',`
    gen_require(`
        type device_t, pil_done_dev_t;
    ')

    allow $1 pil_done_dev_t:file {create write open };
    allow pil_done_dev_t device_t:filesystem associate;
    filetrans_pattern($1, device_t, pil_done_dev_t, file, $2)
')

######################################
## <summary>
##  Read the /dev/pil-done file.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`pilrm_read_pil_done',`
    gen_require(`
        type pil_done_dev_t;
    ')

    read_files_pattern($1, pil_done_dev_t, pil_done_dev_t)
    list_dirs_pattern($1, pil_done_dev_t, pil_done_dev_t)
')

interface(`pilrm_rw_umd_dev',`
    gen_require(`
        type device_t, pil_rm_umd_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, pil_rm_umd_dev_t)
')

########################################
## <summary>
##      map umd_pil device.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`pilrm_map_umd_dev',`
    gen_require(`
        type pil_rm_umd_dev_t;
    ')

    allow $1 pil_rm_umd_dev_t:chr_file map;
')

######################################
## <summary>
##  Search pil-rm run directory (/run/lrm/).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`pilrm_search_run_dir',`
    gen_require(`
        type pil_rm_run_t;
    ')

    search_dirs_pattern($1, pil_rm_run_t, pil_rm_run_t)
')

######################################
## <summary>
##  Create socket files in pil-rm run directory (/run/lrm/).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`pilrm_create_sock_files_run_dir',`
    gen_require(`
        type pil_rm_run_t;
    ')

    search_dirs_pattern($1, pil_rm_run_t, pil_rm_run_t)
    manage_sock_files_pattern($1, pil_rm_run_t, pil_rm_run_t)
')

######################################
## <summary>
##  Connect to sockets in pil-rm run directory (/run/lrm/).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`pilrm_connectto_run_sock_files',`
    gen_require(`
        type pil_rm_run_t;
        type pil_rm_t;
    ')

    search_dirs_pattern($1, pil_rm_run_t, pil_rm_run_t)
    allow $1 pil_rm_run_t:sock_file { read write };
    allow $1 pil_rm_t:unix_stream_socket connectto;
')

######################################
## <summary>
##  Full access to /run/lrm/ - search, create/manage sock_files,
##  connect to any LRM service socket (pil_rm, ssr_rm, smcinvoke, self).
##  Use this for any domain that participates in LRM IPC.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`pilrm_use_lrm_run_dir',`
    gen_require(`
        type pil_rm_run_t;
        type pil_rm_t;
        type ssr_rm_t;
        type smcinvoke_service_t;
        type openwfd_server_t;
        type glinkserver_t;
        type syscache_rm_t;
        type fastrpc_rm_t;
        type diag_service_t;
    ')

    search_dirs_pattern($1, pil_rm_run_t, pil_rm_run_t)
    allow $1 pil_rm_run_t:dir { write add_name };
    allow $1 pil_rm_run_t:sock_file { create read write getattr setattr };
    allow $1 pil_rm_t:unix_stream_socket connectto;
    allow $1 ssr_rm_t:unix_stream_socket connectto;
    allow $1 smcinvoke_service_t:unix_stream_socket connectto;
    allow $1 openwfd_server_t:unix_stream_socket connectto;
    allow $1 glinkserver_t:unix_stream_socket connectto;
    allow $1 syscache_rm_t:unix_stream_socket connectto;
    allow $1 fastrpc_rm_t:unix_stream_socket connectto;
    allow $1 diag_service_t:unix_stream_socket connectto;
    allow $1 $1:unix_stream_socket connectto;
')
