# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Check qcrosvm related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`qcrosvm_read_pid',`
    gen_require(`
        type qcrosvm_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, qcrosvm_t, qcrosvm_t)
')

######################################
## <summary>
##  Send signull to qcrosvm related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`qcrosvm_signull',`
    gen_require(`
        type qcrosvm_t;
    ')

    allow $1 qcrosvm_t:process signull;
')

######################################
## <summary>
##   Use qcrosvm file descriptors.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qcrosvm_use_fds',`
    gen_require(`
        type qcrosvm_t;
    ')

    allow $1 qcrosvm_t:fd use;
')

########################################
## <summary>
##  Search and Read symbolic links on a qcrosvm_boot filesystem.
## </summary>
## <param name="domain">
## <summary>
##  Domain allowed access.
## </summary>
## </param>
#
interface(`fs_read_qcrosvm_boot_symlinks',`
    gen_require(`
        type qcrosvm_boot_t;
    ')

    read_lnk_files_pattern($1, qcrosvm_boot_t, qcrosvm_boot_t)
')
