# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##	Create, read, write, and delete Qseecom devices.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_manage_qseecom',`
	gen_require(`
		type device_t, qseecom_device_t, initrc_t, udev_t;
	')

	manage_chr_files_pattern($1, device_t, qseecom_device_t)
	manage_chr_files_pattern(initrc_t, device_t, qseecom_device_t)

    # systemd-udev to /dev/qseecom
    allow udev_t qseecom_device_t:chr_file { manage_chr_file_perms relabel_chr_file_perms };
')

########################################
## <summary>
##	Relabel qseecomd data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qseecomd_relabel_data',`
    gen_require(`
        type fs_t, qseecomd_data_t;
    ')

    # restorecon /data
    allow $1 qseecomd_data_t:dir { relabelto_dir_perms read open search };
    allow $1 qseecomd_data_t:file { getattr };
    allow qseecomd_data_t fs_t:filesystem { associate };
')

########################################
## <summary>
##	Relabel qseecomd device.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qseecomd_relabel_dev',`
    gen_require(`
        type qseecom_device_t;
    ')

    # restorecon /dev/qseecom
    allow $1 qseecom_device_t:chr_file { relabelto getattr };
')

########################################
## <summary>
##  Relabel /persist/data.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_relabel_persist',`
    gen_require(`
        type fs_t, qseecomd_persist_t;
    ')

    allow $1 qseecomd_persist_t:dir { relabelto_dir_perms read open search };
    allow qseecomd_persist_t fs_t:filesystem { associate };
    relabel_files_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')

########################################
## <summary>
##	Manage qseecomd files in /data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qseecomd_manage_data_files',`
    gen_require(`
        type qseecomd_data_t;
    ')

    manage_files_pattern($1, qseecomd_data_t, qseecomd_data_t)
')

########################################
## <summary>
##	Manage qseecomd directories in /data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qseecomd_manage_data_dirs',`
    gen_require(`
        type qseecomd_data_t;
    ')

    manage_dirs_pattern($1, qseecomd_data_t, qseecomd_data_t)
')

########################################
## <summary>
##	Search qseecomd data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qseecomd_search_data',`
    gen_require(`
        type qseecomd_data_t;
    ')

    allow $1 qseecomd_data_t:dir search_dir_perms;
')

########################################
## <summary>
##      setattr to /data/misc directory.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`qseecomd_setattr_data',`
    gen_require(`
        type qseecomd_data_t;
    ')

    setattr_dirs_pattern($1, qseecomd_data_t, qseecomd_data_t)
')

########################################
## <summary>
##  Read and write /persist/data.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_rw_persist',`
    gen_require(`
        type qseecomd_persist_t;
    ')

    allow $1 qseecomd_persist_t:dir rw_dir_perms;
    rw_files_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')

########################################
## <summary>
##  setattr to /persist/data directory.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_setattr_persist_dirs',`
    gen_require(`
        type qseecomd_persist_t;
    ')

    setattr_dirs_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')

########################################
## <summary>
##  getattr to /persist/data directory.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_getattr_persist_dirs',`
    gen_require(`
        type qseecomd_persist_t;
    ')

    getattr_dirs_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')

########################################
## <summary>
##  Manage qseecomd files in /persist/data .
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_manage_persist_files',`
    gen_require(`
        type qseecomd_persist_t;
    ')

    manage_files_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')

########################################
## <summary>
##  Manage qseecomd directories in /persist/data .
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`qseecomd_manage_persist_dirs',`
    gen_require(`
        type qseecomd_persist_t;
    ')

    manage_dirs_pattern($1, qseecomd_persist_t, qseecomd_persist_t)
')
