# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(safetymonitor, 1.0)

type safetymonitor_t;
type safetymonitor_exec_t;
type safetymonitor_tmp_t;
type safetymonitor_tmpfs_t;
type safetymonitor_power_t;

init_daemon_domain(safetymonitor_t, safetymonitor_exec_t)

init_rw_script_stream_sockets(safetymonitor_t)
init_signull_script(safetymonitor_t)

logging_send_syslog_msg(safetymonitor_t)

userdom_rw_user_tmp_files(safetymonitor_t)
userdom_map_tmp_files(safetymonitor_t)

# Todo, not clear which domain create tmpfs_t objects which safetymonitor access,
# so file transition rules can't work, use below two interface for the moment
fs_map_tmpfs_files(safetymonitor_t)
fs_rw_tmpfs_files(safetymonitor_t)

# Todo, change to fs_delete_tmpfs_files after promotion
fs_manage_tmpfs_files(safetymonitor_t)

dev_rw_kiumd_dev(safetymonitor_t)
dev_rw_vfio_dev(safetymonitor_t)
dev_read_sysfs(safetymonitor_t)

syscache_rm_signull(safetymonitor_t)
ecc_err_handler_signull(safetymonitor_t)
eva_auto_signull(safetymonitor_t)

pfm_mmap_rw_tmpfs_files(safetymonitor_t)
pfm_signull(safetymonitor_t)
pfm_delete_tmpfs_files(safetymonitor_t)

#adreno200
adreno200_rw_tmpfs_files(safetymonitor_t)
adreno200_signull(safetymonitor_t)

#nsp
nsp_drv_signull(safetymonitor_t)

unconfined_server_signull(safetymonitor_t)
unconfined_signull(safetymonitor_t)

qcxserver_mmap_rw_tmpfs_files(safetymonitor_t)
qcxserver_signull(safetymonitor_t)
qcxserver_delete_tmpfs_files(safetymonitor_t)

evauto_mmap_rw_tmpfs_files(safetymonitor_t)
syscache_rm_mmap_rw_tmpfs_files(safetymonitor_t)
ecc_err_handler_mmap_rw_tmpfs_files(safetymonitor_t)

evauto_delete_tmpfs_files(safetymonitor_t)
syscache_rm_delete_tmpfs_files(safetymonitor_t)
ecc_err_handler_delete_tmpfs_files(safetymonitor_t)
adreno200_delete_tmpfs_files(safetymonitor_t)

#adreno200
adreno200_mmap_rw_tmpfs_files(safetymonitor_t)

#nsp
nspdrv_mmap_rw_tmpfs_files(safetymonitor_t)

#libkiumd
libkiumd_mmap_exec_lib_file(safetymonitor_t)

nsp_rsm_signull(safetymonitor_t)
nsp_drv_signull(safetymonitor_t)

#allow bin execute
safetymonitor_execute_bins(safetymonitor_t)
corecmd_mmap_bin_files(safetymonitor_t)
corecmd_exec_shell(safetymonitor_t)

#xml reading access /etc/sm_config
safetymonitor_rw_etc_files(safetymonitor_t)

# pm_register
power_use_pm_register(safetymonitor_t, safetymonitor_power_t)

#/proc/filesystems
kernel_read_proc_files(safetymonitor_t)

#compute-resmgr
compresmgr_rw_etc_files(safetymonitor_t)

#safety-config
files_read_safety_config_files(safetymonitor_t)

# ========== local ==========
allow safetymonitor_t self:unix_dgram_socket { create connect };
allow safetymonitor_t self:unix_stream_socket { listen };
allow safetymonitor_t self:process { setrlimit setsched getsched signal };
allow safetymonitor_t self:capability { sys_resource sys_nice kill dac_override };
allow safetymonitor_t self:fifo_file { manage_fifo_file_perms };

files_tmp_file(safetymonitor_tmp_t)
files_tmp_filetrans(safetymonitor_t, safetymonitor_tmp_t, { dir fifo_file file lnk_file })
manage_files_pattern(safetymonitor_t, safetymonitor_tmp_t, safetymonitor_tmp_t)

files_tmpfs_file(safetymonitor_tmpfs_t)
fs_tmpfs_filetrans(safetymonitor_t, safetymonitor_tmpfs_t, { dir file })
manage_files_pattern(safetymonitor_t, safetymonitor_tmpfs_t, safetymonitor_tmpfs_t)

compresmon_signull(safetymonitor_t)
compresmon_mmap_rw_tmpfs_files(safetymonitor_t)
compresmon_unlink_tmpfs_files(safetymonitor_t)

compresmgr_signull(safetymonitor_t)
