# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Read sail-mailbox proc infomation.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`sailmb_read_pid',`
    gen_require(`
        type sail_mailbox_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, sail_mailbox_t, sail_mailbox_t)
')

######################################
## <summary>
##  Read sail mailbox tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`sailmb_read_tmpfs_files',`
    gen_require(`
        type sail_mailbox_tmpfs_t;
    ')

    read_files_pattern($1, sail_mailbox_tmpfs_t, sail_mailbox_tmpfs_t)
')

########################################
## <summary>
##  Transition to sail_mailbox_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`sailmb_nnp_transition',`
    gen_require(`
        type sail_mailbox_t;
    ')

    allow $1 sail_mailbox_t:process2 nnp_transition;
')

########################################
## <summary>
##  Read and write sail-mailbox device (/dev/sail-mailbox).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`sailmb_rw_umd_dev',`
    gen_require(`
        type device_t, sail_mailbox_device_t;
    ')

    rw_chr_files_pattern($1, device_t, sail_mailbox_device_t)
')

########################################
## <summary>
##      map ail_mailboxdevice.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`sailmb_map_umd_dev',`
    gen_require(`
        type sail_mailbox_device_t;
    ')

    allow $1 sail_mailbox_device_t:chr_file map;
')

########################################
## <summary>
##  Read and write sail-mailbox-ota device (/dev/sail-mailbox-ota).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`sailmb_rw_umd_ota_dev',`
    gen_require(`
        type device_t, sail_mailbox_ota_device_t;
    ')

    rw_chr_files_pattern($1, device_t, sail_mailbox_ota_device_t)
')

########################################
## <summary>
##      map umd_sail_mailbox_ota device.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`sailmb_map_umd_ota_dev',`
    gen_require(`
        type sail_mailbox_ota_device_t;
    ')

    allow $1 sail_mailbox_ota_device_t:chr_file map;
')
