# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Read sail-mailbox proc infomation.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`sailmb_read_pid',`
    gen_require(`
        type sail_mailbox_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, sail_mailbox_t, sail_mailbox_t)
')

######################################
## <summary>
##  Read sail mailbox tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`sailmb_read_tmpfs_files',`
    gen_require(`
        type sail_mailbox_tmpfs_t;
    ')

    read_files_pattern($1, sail_mailbox_tmpfs_t, sail_mailbox_tmpfs_t)
')
