# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(sdv_dice, 1.0)

type sdv_dice_t;
type sdv_dice_exec_t;
type sdv_dice_opendice_t;
type sdv_dice_vm_t;

# init
init_daemon_domain(sdv_dice_t,sdv_dice_exec_t)
init_rw_script_stream_sockets(sdv_dice_t);

dev_node(sdv_dice_opendice_t)
dev_node(sdv_dice_vm_t)

# Read /etc/vm_config.xml
files_read_etc_files(sdv_dice_t)

# VMM client
vmm_create_tmpfs_files(sdv_dice_t)
vmm_client_connect_server(sdv_dice_t);
files_create_tmp_sock_files(sdv_dice_t)
fs_manage_tmpfs_sockets(sdv_dice_t)

# tmpfs
fs_manage_tmpfs_files(sdv_dice_t)
fs_map_tmpfs_files(sdv_dice_t)
fs_rw_tmpfs_dirs(sdv_dice_t)

# self
allow sdv_dice_t self:unix_dgram_socket { connect create write };
allow sdv_dice_t self:unix_stream_socket { create bind listen accept read write };
allow sdv_dice_t self:process { setrlimit setsched getsched signull signal };

# Access open-dice and dice-vm char devices
sdv_dice_rw_opendice_dev(sdv_dice_t)
sdv_dice_rw_vm_dev(sdv_dice_t)

# syslog
logging_create_devlog_dev(sdv_dice_t)
logging_dgram_send(sdv_dice_t)
