# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(ssr-rm, 1.0)

type ssr_rm_t;
type ssr_rm_exec_t;
type ssr_rm_tmp_t;
type ssr_rm_tmpfs_t;

init_daemon_domain(ssr_rm_t, ssr_rm_exec_t)

init_rw_script_stream_sockets(ssr_rm_t)
init_signull_script(ssr_rm_t)

logging_create_devlog_dev(ssr_rm_t)
kernel_dgram_send(ssr_rm_t)

unconfined_server_signull(ssr_rm_t)
unconfined_signull(ssr_rm_t)

glinkserver_signull(ssr_rm_t)
fastrpc_rm_signull(ssr_rm_t)
diag_service_signull(ssr_rm_t)
audio_service_signull(ssr_rm_t)
pil_rm_signull(ssr_rm_t)
compressch_signull(ssr_rm_t)

glinkserver_mmap_rw_tmpfs_files(ssr_rm_t)
fastrpc_rm_mmap_rw_tmpfs_files(ssr_rm_t)
diagservice_mmap_rw_tmpfs_files(ssr_rm_t)
diagservice_delete_tmpfs_files(ssr_rm_t)
diagservice_unlink_tmpfs_files(ssr_rm_t)
pilrm_mmap_rw_tmpfs_files(ssr_rm_t)
audioservice_mmap_rw_tmpfs_files(ssr_rm_t)
subsys_ramdump_rw_files(ssr_rm_t)
compressch_mmap_rw_tmpfs_files(ssr_rm_t)

audioservice_delete_tmpfs_files(ssr_rm_t)
glinkserver_delete_tmpfs_files(ssr_rm_t)
compresmgr_rw_etc_files(ssr_rm_t)

# /tmp/lrms_log_*.txt
files_tmp_file(ssr_rm_tmp_t)
files_tmp_filetrans(ssr_rm_t, ssr_rm_tmp_t, { dir file })
manage_files_pattern(ssr_rm_t, ssr_rm_tmp_t, ssr_rm_tmp_t)

# /ssr-lrm
# Map /dev/shm/lrmc_rq_
files_tmpfs_file(ssr_rm_tmpfs_t)
fs_tmpfs_filetrans(ssr_rm_t, ssr_rm_tmpfs_t, { dir file })
ssrrm_create_tmpfs_files(ssr_rm_t)
ssrrm_rw_tmpfs_files(ssr_rm_t)
ssrrm_tmpfs_map_files(ssr_rm_t)
allow ssr_rm_t ssr_rm_tmpfs_t:file unlink;

#libkiumd
libkiumd_mmap_exec_lib_file(ssr_rm_t)

# /run/systemd/journal/dev-log
logging_dgram_send(ssr_rm_t)

allow ssr_rm_t self:unix_dgram_socket create_socket_perms;
allow ssr_rm_t self:process { setrlimit setsched getsched };
allow ssr_rm_t self:capability { sys_resource net_admin sys_nice };

userdom_mmap_rw_inherited_user_tmp_files(ssr_rm_t)
userdom_manage_user_tmp_files(ssr_rm_t)

fs_rw_tmpfs_files(ssr_rm_t)
fs_map_tmpfs_files(ssr_rm_t)
pilrm_delete_tmpfs_files(ssr_rm_t)
fs_manage_tmpfs_files(ssr_rm_t)

fastrpc_write_user_tmpfs(ssr_rm_t)
fastrpc_open_user_tmpfs(ssr_rm_t)
fastrpc_map_user_tmpfs(ssr_rm_t)
fastrpc_unlink_user_tmpfs(ssr_rm_t)
fastrpc_read_user_tmpfs(ssr_rm_t)
fastrpc_signull(ssr_rm_t)