# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Read, write ssr-rm tmp files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`ssrrm_rw_tmp_files',`
    gen_require(`
        type ssr_rm_tmp_t;
    ')

    rw_files_pattern($1, ssr_rm_tmp_t, ssr_rm_tmp_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for ssr-rm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`ssrrm_create_tmpfs_files',`
    gen_require(`
        type ssr_rm_tmpfs_t;
    ')

    create_files_pattern($1, ssr_rm_tmpfs_t, ssr_rm_tmpfs_t)
')

######################################
## <summary>
##  Read and write ssr-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`ssrrm_rw_tmpfs_files',`
    gen_require(`
        type ssr_rm_tmpfs_t;
    ')

    rw_files_pattern($1, ssr_rm_tmpfs_t, ssr_rm_tmpfs_t)
')

######################################
## <summary>
##  Send signull to ssr-rm related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`ssrrm_signull',`
    gen_require(`
        type ssr_rm_t;
    ')

    allow $1 ssr_rm_t:process signull;
')

########################################
## <summary>
##  Map ssrrm_tmpfs_t library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`ssrrm_tmpfs_map_files',`
    gen_require(`
        type ssr_rm_tmpfs_t;
    ')

    allow $1 ssr_rm_tmpfs_t:file mmap_exec_file_perms;
')
