# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Read subsys-ramdump proc infomation.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`subsys_ramdump_read_pid',`
    gen_require(`
        type subsys_ramdump_util_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, subsys_ramdump_util_t, subsys_ramdump_util_t)
')

######################################
## <summary>
##  Read, write ssrdump tmp files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`subsys_ramdump_rw_files',`
    gen_require(`
        type ssrdump_tmpfs_t;
    ')

    rw_files_pattern($1, ssrdump_tmpfs_t, ssrdump_tmpfs_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for ssrdump.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`ssrdump_create_rw_var_files',`
    gen_require(`
        type ssrdump_var_t;
    ')

    create_files_pattern($1, ssrdump_var_t, ssrdump_var_t)
    rw_files_pattern($1, ssrdump_var_t, ssrdump_var_t)
')

######################################
## <summary>
##  Read and write umd subsystem_ramdump_util devices.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`subsystem_ramdump_util_rm_rw_umd_dev',`
    gen_require(`
        type device_t, subsystem_ramdump_util_device_t;
    ')

    rw_chr_files_pattern($1, device_t, subsystem_ramdump_util_device_t)
')

########################################
## <summary>
##      map subsystem_ramdump_util device.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`subsystem_ramdump_util_rm_map_umd_dev',`
    gen_require(`
        type subsystem_ramdump_util_device_t;
    ')

    allow $1 subsystem_ramdump_util_device_t:chr_file map;
')
