# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Check syscache-rm related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_read_pid',`
    gen_require(`
        type syscache_rm_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, syscache_rm_t, syscache_rm_t)
')

######################################
## <summary>
##  create files under tmpfs filesystem for syscache_rm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_create_tmpfs_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    create_files_pattern($1, syscache_rm_tmpfs_t, syscache_rm_tmpfs_t)
')
######################################
## <summary>
##  Send signull to syscache-rm related process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_signull',`
    gen_require(`
        type syscache_rm_t;
    ')

    allow $1 syscache_rm_t:process signull;
')

######################################
## <summary>
##  Map, read and write syscache-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscacherm_mmap_rw_tmpfs_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, syscache_rm_tmpfs_t, syscache_rm_tmpfs_t)
')

######################################
## <summary>
##  Delete syscache-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_delete_tmpfs_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    delete_files_pattern($1, syscache_rm_tmpfs_t, syscache_rm_tmpfs_t)
')

######################################
## <summary>
## Allow to Read Write Open syscache-rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_rw_tmpfs_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    rw_files_pattern($1, syscache_rm_tmpfs_t, syscache_rm_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write syscache_rm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`syscache_rm_mmap_rw_tmpfs_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, syscache_rm_tmpfs_t, syscache_rm_tmpfs_t)
')

########################################
## <summary>
##  Map syscache_rm_tmpfs_t library files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`syscache_rm_tmpfs_map_files',`
    gen_require(`
        type syscache_rm_tmpfs_t;
    ')

    allow $1 syscache_rm_tmpfs_t:file mmap_exec_file_perms;
')
