# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(vhost-user, 1.0)

type vhost_user_qti_t;
type vhost_user_qti_vm3_t;
type vhost_user_qti_exec_t;
type vhost_user_qti_exec_vm3_t;
type vhost_user_device_t;
type vhost_user_device_vm3_t;
type vhost_user_tmp_t;
type vhost_user_tmp_vm3_t;

type vhost_user_tmpfs_t;

# the selinux domain (binded to vhost_user_qti_exec_t) is used to control
# permissions for vhost_user_qti processes launched by systemd without using
# SELinuxContext feature.
# this is used for LA-GVM.
init_daemon_domain(vhost_user_qti_t, vhost_user_qti_exec_t)

init_rw_script_stream_sockets(vhost_user_qti_t)

# the selinux domain (binded to empty vhost_user_qti_exec_vm3_t) is used to control
# permissions for vhost_user_qti processes launched by systemd using
# SELinuxContext feature.
# this is used for LV-GVM.
init_daemon_domain(vhost_user_qti_vm3_t, vhost_user_qti_exec_vm3_t)

init_rw_script_stream_sockets(vhost_user_qti_vm3_t)

dev_node(vhost_user_device_t)
dev_node(vhost_user_device_vm3_t)

vhost_user_rw_vhost_dev(vhost_user_qti_t)
vhost_user_rw_vhost_vm3_dev(vhost_user_qti_vm3_t);

vhost_user_delete_vhost_dev(vhost_user_qti_t)
vhost_user_delete_vhost_dev_vm3(vhost_user_qti_vm3_t)

vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-aud-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-cam-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-disp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-ogles-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-misc-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-vid-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-vnw-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-gpce-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-ext-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-soccp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-dprx-skt")
vhost_user_create_vhost_socket(vhost_user_qti_t, vhost_user_tmp_t, "linux-vm2-eva-skt")

vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-aud-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-cam-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-disp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-ogles-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-misc-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-vid-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-vnw-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-gpce-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-ext-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-soccp-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-dprx-skt")
vhost_user_create_vhost_socket(vhost_user_qti_vm3_t, vhost_user_tmp_vm3_t, "linux-vm3-eva-skt")

allow vhost_user_qti_t vhost_user_tmp_t:sock_file unlink;
allow vhost_user_qti_vm3_t vhost_user_tmp_vm3_t:sock_file unlink;

allow vhost_user_qti_t self:unix_stream_socket { listen accept };
allow vhost_user_qti_t self:capability { net_admin };
allow vhost_user_qti_vm3_t self:capability { net_admin };

# vhost_user_qti_t does not need this since we already set the permission
# by the above init_daemon_domain(vhost_user_qti_t, vhost_user_qti_exec_t)
# Because the vhost_user_qti_exec_vm3_t is empty object.
# The above init_daemon_domain(vhost_user_qti_vm3_t, vhost_user_qti_exec_vm3_t)
# does not add needed permission for the executable file. So we need add here.
allow vhost_user_qti_vm3_t vhost_user_qti_exec_t:file {entrypoint map read execute};

logging_send_syslog_msg(vhost_user_qti_t)
logging_send_syslog_msg(vhost_user_qti_vm3_t)

vmm_client_connect_server(vhost_user_qti_t)
vmm_client_connect_server(vhost_user_qti_vm3_t)

qcrosvm_use_fds(vhost_user_qti_t)
qcrosvm_use_fds(vhost_user_qti_vm3_t)

#read /sys/module/vhost/parameters/max_mem_regions
dev_read_sysfs(vhost_user_qti_t);
dev_read_sysfs(vhost_user_qti_vm3_t);

fs_rw_tmpfs_dirs(vhost_user_qti_t)
fs_manage_tmpfs_sockets(vhost_user_qti_t)
