# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  Send signull to video-driver process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`video_driver_signull',`
    gen_require(`
        type video_driver_t;
    ')

    allow $1 video_driver_t:process signull;
')

######################################
## <summary>
##  Check video-driver related process infomation, such as ps tool.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`video_driver_read_pid',`
    gen_require(`
        type video_driver_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, video_driver_t, video_driver_t)
')

######################################
## <summary>
##  Map, read and write video-driver tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`videodriver_mmap_rw_tmpfs_files',`
    gen_require(`
        type video_driver_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, video_driver_tmpfs_t, video_driver_tmpfs_t)
')

######################################
## <summary>
##  Read and write video-driver tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`videodriver_rw_tmpfs_files',`
    gen_require(`
        type video_driver_tmpfs_t;
    ')

    rw_files_pattern($1, video_driver_tmpfs_t, video_driver_tmpfs_t)
')

######################################
## <summary>
##  Delete video-driver tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`videodriver_delete_tmpfs_files',`
    gen_require(`
        type video_driver_tmpfs_t;
    ')

    delete_files_pattern($1, video_driver_tmpfs_t, video_driver_tmpfs_t)
')

######################################
## <summary>
##  Read and write scmi devices (/dev/scmi_video).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`videodriver_rw_scmi_dev',`
    gen_require(`
        type device_t, video_driver_dev_t;
    ')

    rw_chr_files_pattern($1, device_t, video_driver_dev_t)
')
