# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

######################################
## <summary>
##  create files under tmpfs filesystem for vmm.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`vmm_create_tmpfs_files',`
    gen_require(`
        type vmm_tmpfs_t;
    ')

    create_files_pattern($1, vmm_tmpfs_t, vmm_tmpfs_t)
')

######################################
## <summary>
##  Map, read and write vmm tmpfs files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed.
##  </summary>
## </param>
#
interface(`vmm_mmap_rw_tmpfs_files',`
    gen_require(`
        type vmm_tmpfs_t;
    ')

    mmap_rw_files_pattern($1, vmm_tmpfs_t, vmm_tmpfs_t)
')
