# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
## Allow read write open and getattr for passwd_file_t
## tty device nodes.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`auth_rw_passwd_files',`
    gen_require(`
        type passwd_file_t;
    ')

    rw_files_pattern($1, passwd_file_t, passwd_file_t);
')
