# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_getty, 1.0)

require {
    type getty_t;
}

auth_read_shadow(getty_t)
auth_rw_lastlog(getty_t)
systemd_dbus_chat_logind(getty_t)

allow getty_t self:process setsched;
