# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_irqbalancer, 1.0)

require {
    type irqbalance_t;
}

unconfined_domain(irqbalance_t)

corecmd_exec_shell(irqbalance_t)
auth_getattr_passwd(irqbalance_t)
auth_manage_passwd(irqbalance_t)
