# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_logging, 1.0)

require {
    type syslogd_t;
}

files_create_default_dirs(syslogd_t)
files_manage_default_files(syslogd_t)
files_mmap_default_files(syslogd_t)
