# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# # SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_logrotate, 1.0)

require {
    type logrotate_t;
}

files_rw_var_files(logrotate_t)
