# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Policy for SELinux policy and userland applications.</summary>

########################################
## <summary>
##	Manage generic log dir.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`logging_manage_generic_dirs_logs',`
	gen_require(`
		type var_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, var_log_t, var_log_t)
')
