# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_mount, 1.0)

require {
    type mount_t;
}

qseecomd_getattr_persist_dirs(mount_t)
