# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rh_unconfined, 1.0)

require {
    type unconfined_service_t;
    type unconfined_t;
}

qseecomd_manage_data(unconfined_service_t)
qseecomd_setattr_data(unconfined_service_t)
qseecomd_setattr_persist(unconfined_service_t)
qseecomd_rw_persist(unconfined_service_t)

# shell domain is unconfined_t instead of unconfined_service_t when login with ssh or serials.
qseecomd_manage_data(unconfined_t)
qseecomd_setattr_data(unconfined_t)
qseecomd_setattr_persist(unconfined_t)
qseecomd_rw_persist(unconfined_t)

minkdescriptor_mmap_lib_files(unconfined_service_t)
minkdescriptor_mmap_lib_files(unconfined_t)

vhost_user_manage_tmp_files(unconfined_service_t)
vhost_user_manage_tmp_files(unconfined_t)

# we can use ls cmd to list the linux-vm3-*-skt devices
vhost_user_manage_tmp_files_vm3(unconfined_service_t)
vhost_user_manage_tmp_files_vm3(unconfined_t)

owfds_map_lib_files(unconfined_service_t)
owfds_map_lib_files(unconfined_t)
owfds_manage_lib_files(unconfined_service_t)
owfds_manage_lib_files(unconfined_t)

# allow unconfined_service_t access ipp_lib_t
ipp_manage_lib_files(unconfined_service_t)

# allow unconfined_service_t access fbe_lib_t
fbe_mmap_exec_lib_files(unconfined_service_t)

#allow unconfined_service_t access keymaster_lib_t
keymaster_mmap_lib_files(unconfined_service_t)
keymaster_mmap_lib_files(unconfined_t)

#below lines added for libkiumd interface
libkiumd_mmap_exec_lib_file(unconfined_service_t)
libkiumd_mmap_exec_lib_file(unconfined_t)
libkiumd_relabel_lib_files(unconfined_service_t)
libkiumd_relabel_lib_files(unconfined_t)
libkiumd_manage_lib_files(unconfined_service_t)
libkiumd_manage_lib_files(unconfined_t)

audioservice_rw_etc_files(unconfined_service_t)
audioservice_rw_etc_files(unconfined_t)

weston_manage_lib_files(unconfined_service_t)
weston_manage_lib_files(unconfined_t)
weston_map_lib_files(unconfined_service_t)
weston_map_lib_files(unconfined_t)

dev_rw_profiler_dev(unconfined_t)
dev_relabel_profiler_dev(unconfined_t)

allow_she_lib_files(unconfined_t)

#GPTEE_lib_t interface
gptee_mmap_lib_files(unconfined_t)
gptee_mmap_lib_files(unconfined_service_t)
gptee_read_lib_files(unconfined_t)
gptee_read_lib_files(unconfined_service_t)
gptee_manage_lib_files(unconfined_t)
gptee_manage_lib_files(unconfined_service_t)
