# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type pulseaudio_etc_t;

files_config_file(pulseaudio_etc_t)

sysadm_rw_stream_socket(pulseaudio_t)

files_manage_default_dirs(pulseaudio_t)
files_manage_default_files(pulseaudio_t)

init_read_runtime_files(pulseaudio_t)
init_binder(pulseaudio_t)
init_stream_connect_script(pulseaudio_t)

fs_list_binderfs_dirs(pulseaudio_t)
fs_rw_tmpfs_files(pulseaudio_t)
fs_map_tmpfs_files(pulseaudio_t)

dev_rw_binder_dev(pulseaudio_t)
dev_manage_generic_sockets(pulseaudio_t)
dev_rw_ashmem_dev(pulseaudio_t)

pulseaudio_manage_etc_files(pulseaudio_t)

kernel_search_debugfs(pulseaudio_t)

systemd_watch_logind_sessions_dirs(pulseaudio_t)
systemd_user_send_systemd_notify(sysadm, pulseaudio_t)

dbus_write_session_runtime_socket(pulseaudio_t)
dbus_getattr_session_runtime_socket(pulseaudio_t)

allow pulseaudio_t self:qipcrtr_socket create;
allow pulseaudio_t pulseaudio_etc_t:file map;
