# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##  Mount bluetooth config directory (/etc/bluetooth).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`bluetooth_mount_etc_dirs',`
    gen_require(`
        type bluetooth_conf_t;
    ')

    allow $1 bluetooth_conf_t:dir mounton;
')

########################################
## <summary>
##  Read bluetooth config directory (/etc/bluetooth).
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`bluetooth_read_etc_dirs',`
    gen_require(`
        type bluetooth_conf_t;
    ')

    allow $1 bluetooth_conf_t:dir read;
')
