# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

allow system_dbusd_t self:capability net_admin;

init_rw_script_stream_sockets(system_dbusd_t)
