# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

unconfined_domain(irqbalance_t)

corecmd_exec_shell(irqbalance_t)
auth_getattr_passwd(irqbalance_t)
auth_manage_passwd(irqbalance_t)
