# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

auth_tunable_read_shadow(sshd_t)

files_search_default(sshd_t)
files_rw_generic_pids(sshd_t)
files_read_var_symlinks(ssh_keygen_t)

# /run/ssh/ssh_host_rsa_key.tmp, when adb connect to machine with ip address
init_list_initrc_runtime_dirs(ssh_keygen_t)
init_create_initrc_runtime_files(ssh_keygen_t)
init_rw_initrc_runtime_files(ssh_keygen_t)

init_list_initrc_runtime_dirs(sshd_t)
init_read_runtime_files(sshd_t)

kernel_getattr_proc(sshd_t)
