# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type smcinvoke_device_t;
type gunyah_device_t;
type kiumd_device_t;
type scmnode_device_t;
type hab_device_t;
type profiler_device_t;
type kgsl_device_t;
type hgsl_device_t;
type ashmem_device_t;
type dma_device_t;

dev_node(smcinvoke_device_t)
dev_node(gunyah_device_t)
dev_node(kiumd_device_t)
dev_node(scmnode_device_t)
dev_node(hab_device_t)
dev_node(profiler_device_t)
dev_node(kgsl_device_t)
dev_node(hgsl_device_t)
dev_node(ashmem_device_t)
dev_node(dma_device_t)

genfscon functionfs / gen_context(system_u:object_r:usbfs_t,s0)

#
# Type for /dev/binderfs
#
type binder_device_t;
dev_node(binder_device_t)
# Default Android binder devices
# /dev/binderfs/binder - IPC between framework/app processes with Android Interface Definition Language (AIDL) interfa
genfscon binder /binder gen_context(system_u:object_r:binder_device_t,s0)
# /dev/binderfs/hwbinder - IPC between framework/vendor and vendor/vendor processes with HAL Interface Definition Lang
genfscon binder /hwbinder gen_context(system_u:object_r:binder_device_t,s0)
# /dev/binderfs/vndbinder - IPC between vendor/vendor processes with AIDL interfaces
genfscon binder /vndbinder gen_context(system_u:object_r:binder_device_t,s0)
