# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

##################################
## <summary>
##  Map files on tmpfs filesystems.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_map_tmpfs_files',`
    gen_require(`
        type tmpfs_t;
    ')

    allow $1 tmpfs_t:file map;
')

########################################
## <summary>
##  Create, read, write, and map
##  tmpfs files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_create_mmap_rw_tmpfs_files',`
    gen_require(`
        type tmpfs_t;
    ')

    allow $1 tmpfs_t:file create_file_perms;
    allow $1 tmpfs_t:file mmap_rw_file_perms;
')

########################################
## <summary>
##  Create and write tmp files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_create_write_tmp_files',`
    gen_require(`
        type tmp_t;
    ')

    create_files_pattern($1, tmp_t, tmp_t);
    allow $1 tmp_t:file write_file_perms;
')

##################################
## <summary>
##  Create files on a configfs filesystems.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_create_configfs_files',`
    gen_require(`
        type configfs_t;
    ')

    create_files_pattern($1, configfs_t, configfs_t)
')

##################################
## <summary>
##  Read and write files on a configfs filesystems.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_rw_configfs_files',`
    gen_require(`
        type configfs_t;
    ')

    rw_files_pattern($1, configfs_t, configfs_t)
')

##################################
## <summary>
##  Create dirs on a configfs filesystems.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_create_configfs_dirs',`
    gen_require(`
        type configfs_t;
    ')

    create_dirs_pattern($1, configfs_t, configfs_t)
')

########################################
## <summary>
##  Read and write tracefs_t files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_rw_tracefs_files',`
    gen_require(`
        type tracefs_t;
    ')

    rw_files_pattern($1, tracefs_t, tracefs_t)
')

########################################
## <summary>
## Delete generic files in tmpfs directory.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`fs_delete_tmpfs_files',`
    gen_require(`
        type tmpfs_t;
    ')

    allow $1 tmpfs_t:dir del_entry_dir_perms;
    allow $1 tmpfs_t:file_class_set delete_file_perms;
')

########################################
## <summary>
## Search and list to binderfs directories
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`fs_list_binderfs_dirs',`
    gen_require(`
        type binderfs_t;
    ')

    list_dirs_pattern($1, binderfs_t, binderfs_t)
')

##################################
## <summary>
##  Mount dirs on a configfs filesystems.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_mounton_configfs_dirs',`
    gen_require(`
        type configfs_t;
    ')

    allow $1 configfs_t:dir mounton;
')

##################################
## <summary>
##  Allow to rw open and ioctl to chr files on a DOS.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`files_rw_dosfs_files',`
    gen_require(`
        type dosfs_t;
    ')

    rw_files_pattern($1, dosfs_t, dosfs_t)
')

########################################
## <summary>
##  Search tracefs_t directories
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_search_tracefs_dirs',`                                                                                                        
    gen_require(`
        type tracefs_t;
    ')

    search_dirs_pattern($1, tracefs_t, tracefs_t)
')

########################################
## <summary>
##  Read and write tmpfs dirs
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`fs_rw_tmpfs_dirs',`
    gen_require(`
        type tmpfs_t;
    ')

    allow $1 tmpfs_t:dir rw_dir_perms;
')

########################################
## <summary>
##  Allow the specific domain to mounton a cgroup's memory.pressure file
## </summary>
## <param name="domain">
##      <summary>
##      Source domain
##      </summary>
## </param>
#
interface(`fs_mounton_memory_pressure',`
    gen_require(`
        type memory_pressure_t;
    ')

    allow $1 memory_pressure_t:file { mounton };
')
