# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##  Send signull to kernel threads.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`kernel_signull',`
    gen_require(`
        type kernel_t;
    ')

    allow $1 kernel_t:process signull;
')

########################################
## <summary>
## Read generic files in /proc.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`kernel_read_proc_files',`
    gen_require(`
        type proc_t;
    ')

    read_files_pattern($1, proc_t, proc_t)
')
