# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
## Allow open access for all unallocated
## tty device nodes.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`term_open_unallocated_ttys',`
    gen_require(`
        type tty_device_t;
    ')

    dev_list_all_dev_nodes($1)
    allow $1 tty_device_t:chr_file open;
')
