# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#/var/lib/alsa/asound.state
files_read_var_symlinks(alsa_t)
files_read_var_files(alsa_t)

files_list_default_dirs(alsa_t)

#unlabeled
files_mounton_isid_type_dirs(alsa_t)
