# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

init_use_script_ptys(ping_t)
corenet_icmp_bind_generic_node(ping_t)

corecmd_exec_bin(ping_t)

# save the output into /data with ping -c +ip
files_manage_default_files(ping_t)
