# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type default_t;
    type tmpfs_t;
')

#============= system_dbusd_t ==============
allow system_dbusd_t default_t:dir search;
allow system_dbusd_t user_runtime_root_t:dir search;
allow system_dbusd_t user_runtime_t:dir { add_name create getattr open read search write };
allow system_dbusd_t etc_t:file map;
allow system_dbusd_t initrc_t:unix_stream_socket { read write };
allow system_dbusd_t tmpfs_t:dir search;
allow system_dbusd_t tmpfs_t:sock_file write;
