# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
## Get the attributes of the passwd passwords file.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`auth_getattr_passwd',`
#    gen_require(`
#        type passwd_file_t;
#    ')
#
#    files_search_etc($1)
#    allow $1 passwd_file_t:file getattr;
')

########################################
## <summary>
## Create, read, write, and delete the passwd
## password file.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`auth_manage_passwd',`
#    gen_require(`
#        type passwd_file_t;
#    ')
#
#    files_rw_etc_dirs($1)
#    allow $1 passwd_file_t:file manage_file_perms;
#    files_etc_filetrans($1, passwd_file_t, file, "passwd")
#    files_etc_filetrans($1, passwd_file_t, file, "passwd-")
#    files_etc_filetrans($1, passwd_file_t, file, "ptmptmp")
#    files_etc_filetrans($1, passwd_file_t, file, "group")
#    files_etc_filetrans($1, passwd_file_t, file, "group-")
#    files_etc_filetrans($1, passwd_file_t, file, ".pwd.lock")
#    files_etc_filetrans($1, passwd_file_t, file, "passwd.lock")
#    files_etc_filetrans($1, passwd_file_t, file, "group.lock")
')
