# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

files_search_default(chkpwd_t)
term_use_unallocated_ttys(chkpwd_t)
