# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

files_manage_default_files(fsadm_t)

kernel_use_fds(fsadm_t)
