# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

auth_read_shadow(getty_t)
auth_rw_lastlog(getty_t)
systemd_dbus_chat_logind(getty_t)
systemd_write_inherited_logind_sessions_pipes(getty_t)

seutil_read_login_config(getty_t)
seutil_rw_default_contexts(getty_t)
seutil_rw_config(getty_t)
selinux_compute_relabel_context(getty_t)
selinux_validate_context(getty_t)

domain_obj_id_change_exemption(getty_t)
domain_subj_id_change_exemption(getty_t)
domain_role_change_exemption(getty_t)

userdom_write_user_tmp_dirs(getty_t)
userdom_transition(getty_t)
userdom_relabel_user_ttys(getty_t)

term_relabel_unallocated_ttys(getty_t)

files_read_var_symlinks(getty_t)

fs_search_tmpfs(getty_t)

init_rw_script_stream_sockets(getty_t)

allow getty_t self:process { setsched setexec setkeycreate };
allow getty_t self:capability { net_admin audit_write setuid };
allow getty_t self:capability2 { checkpoint_restore };
allow getty_t self:netlink_audit_socket { create write nlmsg_relay read };
