# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

files_read_var_symlinks(ipsec_t)
files_read_var_symlinks(ipsec_mgmt_t)

init_rw_script_stream_sockets(ipsec_t)
init_rw_script_stream_sockets(ipsec_mgmt_t)
