# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##	Manage generic log dir.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`logging_manage_generic_dirs_logs',`
	gen_require(`
		type var_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, var_log_t, var_log_t)
')

########################################
## <summary>
##  Connect to the syslog control unix stream socket.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`logging_create_devlog_dev',`
    gen_require(`
        type devlog_t;
    ')

    allow $1 devlog_t:lnk_file manage_lnk_file_perms;
    allow $1 devlog_t:sock_file manage_sock_file_perms;
    dev_filetrans($1, devlog_t, lnk_file, "log")
    init_pid_filetrans($1, devlog_t, sock_file, "syslog")
    logging_syslogd_pid_filetrans($1, devlog_t, sock_file, "dev-log")
')

########################################
## <summary>
##  Create generic log files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
## <rolecap/>
#
interface(`logging_create_generic_logs',`
    gen_require(`
        type var_log_t;
    ')

    logging_search_logs($1)
    create_files_pattern($1, var_log_t, var_log_t)
')

#######################################
## <summary>
##  Create objects in /run/systemd/journal/ directory
##  with an automatic type transition to
##  a specified private type.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
## <param name="private_type">
##  <summary>
##  The type of the object to create.
##  </summary>
## </param>
## <param name="object_class">
##  <summary>
##  The class of the object to be created.
##  </summary>
## </param>
## <param name="name" optional="true">
##  <summary>
##  The name of the object being created.
##  </summary>
## </param>
#
interface(`logging_syslogd_pid_filetrans',`
    gen_require(`
        type syslogd_var_run_t;
    ')

    files_search_pids($1)
    filetrans_pattern($1, syslogd_var_run_t, $2, $3, $4)
')

########################################
## <summary>
## Allow domain to read the syslog pid files.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`logging_read_syslog_pid',`
    gen_require(`
        type syslogd_var_run_t;
    ')

    read_files_pattern($1, syslogd_var_run_t, syslogd_var_run_t)
    list_dirs_pattern($1, syslogd_var_run_t, syslogd_var_run_t)
')

########################################
## <summary>
## Send a message to syslogd over a unix domain
## datagram socket.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`logging_dgram_send',`
    gen_require(`
        type syslogd_t;
    ')

    allow $1 syslogd_t:unix_dgram_socket sendto;
')

########################################
## <summary>
##  Relabel the audit directory of the audit log.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
## <rolecap/>
#
interface(`logging_relabel_audit_log',`
    gen_require(`
        type auditd_log_t;
    ')

    relabel_dirs_pattern($1, auditd_log_t, auditd_log_t)
')
