# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

init_rw_script_stream_sockets(kmod_t)
init_rw_raw_sock(kmod_t)
