# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##  Read the  SELinux login configuration files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`seutil_read_login_config',`
#    gen_require(`
#        type selinux_config_t;
#        type selinux_login_config_t;
#    ')

#    files_search_etc($1)
#    allow $1 selinux_config_t:dir search_dir_perms;
#    allow $1 selinux_login_config_t:dir list_dir_perms;
#    read_files_pattern($1, selinux_login_config_t, selinux_login_config_t)
#    read_lnk_files_pattern($1, selinux_login_config_t, selinux_login_config_t)
')

#######################################
## <summary>
##  Read and write the default_contexts files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
## <rolecap/>
#
interface(`seutil_rw_default_contexts',`
    gen_require(`
        type default_context_t;
        type selinux_config_t;
    ')

    files_search_etc($1)
    allow $1 selinux_config_t:dir list_dir_perms;
    allow $1 default_context_t:dir list_dir_perms;
    rw_files_pattern($1, default_context_t, default_context_t)
')
