# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# restorecon /data/misc and /data/tzstorage
qseecomd_relabel_data(setfiles_t)

# restorecon /persist/data
qseecomd_relabel_persist(setfiles_t)

# restorecon /dev/qseecom
qseecomd_relabel_dev(setfiles_t)

# Need to load policy once more time after install new lv-sepolicy rpm pacakge
term_use_generic_ptys(load_policy_t)

init_rw_script_stream_sockets(setfiles_t)
kernel_getattr_proc(setfiles_t)

# Because qseecomd service set corresponding capability
allow setfiles_t self:capability dac_override;

files_rw_root_chr_files(setfiles_t)

# /boot/early-ramdisk/early_ramdisk_init.log
fs_rw_tmpfs_files(setfiles_t)
