# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##  Transition to sysnet named content
## </summary>
## <param name="domain">
##  <summary>
##      Domain allowed access.
##  </summary>
## </param>
#
interface(`sysnet_filetrans_named_content',`
    gen_require(`
        type net_conf_t;
    ')

    sysnet_etc_filetrans_config($1, "resolv.conf")
    files_etc_filetrans($1, net_conf_t, file, "resolv.conf.tmp")
    files_etc_filetrans($1, net_conf_t, file, "resolv.conf.fp-tmp")
    files_etc_filetrans($1, net_conf_t, file, "resolv.conf.fp-saved")
    files_etc_filetrans($1, net_conf_t, file, "resolv-secure.conf")
    files_etc_filetrans($1, net_conf_t, file, ".resolv.conf.dnssec-trigger")
    files_etc_filetrans($1, net_conf_t, file, ".resolv-secure.conf.dnssec-trigger")
    files_etc_filetrans($1, net_conf_t, file, "denyhosts")
    files_etc_filetrans($1, net_conf_t, file, "hosts")
    files_etc_filetrans($1, net_conf_t, file, "hosts.deny")
    files_etc_filetrans($1, net_conf_t, file, "ethers")
    files_etc_filetrans($1, net_conf_t, file, "yp.conf")
    files_etc_filetrans($1, net_conf_t, file, "ntp.conf")
    init_pid_filetrans($1, net_conf_t, dir, "network")

    optional_policy(`
        networkmanager_pid_filetrans($1, net_conf_t, file, "no-stub-resolv.conf")
        networkmanager_pid_filetrans($1, net_conf_t, file, "resolv.conf")
        networkmanager_pid_filetrans($1, net_conf_t, file, "resolv.conf.tmp")
    ')
 
    sysnet_filetrans_systemd_resolved($1)
')

########################################
## <summary>
## Set up filename transitions for systemd-resolved network
## configuration content.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed access.
## </summary>
## </param>
#
interface(`sysnet_filetrans_systemd_resolved',`
    gen_require(`
        type net_conf_t;
    ')

    optional_policy(`
        systemd_resolved_pid_filetrans($1, net_conf_t, file, "no-stub-resolv.conf")
        systemd_resolved_pid_filetrans($1, net_conf_t, file, "resolv.conf")
        systemd_resolved_pid_filetrans($1, net_conf_t, file, "resolv.conf.tmp")
        systemd_resolved_pid_filetrans($1, net_conf_t, { file lnk_file }, "stub-resolv.conf")
    ')
')

########################################
## <summary>
## Transition to sysnet ifconfig named content
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed access.
## </summary>
## </param>
#
interface(`sysnet_filetrans_net_conf',`
    gen_require(`
        type net_conf_t;
    ')

    files_etc_filetrans($1, net_conf_t, file)
')
