# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

######################################
## <summary>
##  Write systemd inhibit pipes.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`systemd_write_inhibit_pipes',`
    gen_require(`
        type systemd_logind_inhibit_var_run_t;
    ')

    allow $1 systemd_logind_inhibit_var_run_t:fifo_file write;
')

######################################
## <summary>
## Read systemd_login PID files.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`systemd_login_read_pid_files',`
    gen_require(`
        type systemd_logind_var_run_t;
    ')

    files_search_pids($1)
    read_files_pattern($1, systemd_logind_var_run_t, systemd_logind_var_run_t)
')

########################################
## <summary>
## Allow the specified domain to status systemd services.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`systemd_status_systemd_services',`
    gen_require(`
        type systemd_unit_file_t;
    ')

    allow $1 systemd_unit_file_t:service status;
')

########################################
## <summary>
## Allow the specified domain to start systemd services.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`systemd_start_systemd_services',`
    gen_require(`
        type systemd_unit_file_t;
    ')

    allow $1 systemd_unit_file_t:service start;
')

########################################
## <summary>
## Allow the specified domain to stop systemd services.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`systemd_stop_systemd_services',`
    gen_require(`
        type systemd_unit_file_t;
    ')

    allow $1 systemd_unit_file_t:service stop;
')

########################################
## <summary>
## Create objects in /var/run/systemd/resolve with a private
## type using a type_transition.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
## <param name="file_type">
## <summary>
## Private file type.
## </summary>
## </param>
## <param name="class">
## <summary>
## Object classes to be created.
## </summary>
## </param>
## <param name="name" optional="true">
## <summary>
## The name of the object being created.
## </summary>
## </param>
#
interface(`systemd_resolved_pid_filetrans',`
    gen_require(`
        type systemd_resolved_var_run_t;
    ')

    filetrans_pattern($1, systemd_resolved_var_run_t, $2, $3, $4)
')

#########################################
## <summary>
## sysadm user for systemd --user
## </summary>
## <param name="role">
## <summary>
##  Role allowed access.
## </summary>
## </param>
#
interface(`systemd_sysadm_user',`
    gen_require(`
        type sysadm_systemd_t;
    ')

    allow sysadm_systemd_t self:capability { mknod sys_admin };
    allow sysadm_systemd_t self:capability2 { bpf perfmon };
    allow sysadm_systemd_t self:process setrlimit;
    allow sysadm_systemd_t self:unix_dgram_socket sendto;
    allow $1 sysadm_systemd_t:system reload;

    files_list_default_dirs(sysadm_systemd_t)

    dev_read_sound(sysadm_systemd_t)
    dev_write_sound(sysadm_systemd_t)

    files_read_var_symlinks(sysadm_systemd_t)

    pulseaudio_nnp_transition(sysadm_systemd_t)
')

########################################
## <summary>
##  Transition to systemd_passwd_agent_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_passwd_agent_nnp_trans',`
    gen_require(`
        type systemd_passwd_agent_t;
    ')

    allow $1 systemd_passwd_agent_t:process2 nnp_transition;
')

########################################
## <summary>
##  Create objects in /var/run/ with a private type using a type_transition
## </summary>
## <param name="private type">
##  <summary>
##  The type of the object to be created.
##  </summary>
## </param>
## <param name="object">
##  <summary>
##  The object class of the object being created.
##  </summary>
## </param>
## <param name="name" optional="true">
##  <summary>
##  The name of the object being created.
##  </summary>
## </param>
#
interface(`systemd_pid_filetrans_tmpfiles',`
    gen_require(`
        type systemd_tmpfiles_t;
    ')

    files_pid_filetrans(systemd_tmpfiles_t, $1, $2, $3)
')

########################################
## <summary>
##  Transition to systemd_resolved_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_resolved_nnp_trans',`
    gen_require(`
        type systemd_resolved_t;
    ')

    allow $1 systemd_resolved_t:process2 nnp_transition;
')

########################################
## <summary>
##  Transition to systemd_coredump_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_coredump_nnp_trans',`
    gen_require(`
        type systemd_coredump_t;
    ')

    allow $1 systemd_coredump_t:process2 nnp_transition;
')

########################################
## <summary>
##  Transition to systemd_logind_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_logind_nnp_trans',`
    gen_require(`
        type systemd_logind_t;
    ')

    allow $1 systemd_logind_t:process2 nnp_transition;
')

########################################
## <summary>
##  Transition to systemd_networkd_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_networkd_nnp_trans',`
    gen_require(`
        type systemd_networkd_t;
    ')

    allow $1 systemd_networkd_t:process2 nnp_transition;
')

########################################
## <summary>
##  Transition to systemd_userdbd_t when NNP has been set.
## </summary>
## <param name="domain">
##  <summary>
##  The type of the process performing this action.
##  </summary>
## </param>
#
interface(`systemd_userdbd_nnp_trans',`
    gen_require(`
        type systemd_userdbd_t;
    ')

    allow $1 systemd_userdbd_t:process2 nnp_transition;
')

########################################
## <summary>
##  Allow the specified domain to read and write
##  the systemd-logind linger files
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`systemd_rw_logind_linger_files',`
    gen_require(`
        type systemd_logind_var_lib_t;
    ')

    rw_files_pattern($1, systemd_logind_var_lib_t, systemd_logind_var_lib_t)
')

########################################
## <summary>
##  Allow the specified domain to read and write
##  the systemd-logind linger directories
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`systemd_rw_logind_linger_dirs',`
    gen_require(`
        type systemd_logind_var_lib_t;
    ')

    allow $1 systemd_logind_var_lib_t:dir rw_dir_perms;
')

########################################
## <summary>
##  Allow the specified domain to read and write
##  the systemd coredump directories
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`systemd_rw_coredump_dirs',`
    gen_require(`
        type systemd_coredump_var_lib_t;
    ')

    rw_dirs_pattern($1, systemd_coredump_var_lib_t, systemd_coredump_var_lib_t)
')
