# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

vhost_user_getattr_vhost_socket(systemd_tmpfiles_t)
files_read_var_symlinks(systemd_tmpfiles_t)
files_read_generic_tmp_symlinks(systemd_tmpfiles_t)
files_relabel_var_lnk_files(systemd_tmpfiles_t)
files_relabel_tmp_lnk_files(systemd_tmpfiles_t)
fs_manage_tmpfs_dirs(systemd_tmpfiles_t)
logging_relabel_audit_log(systemd_tmpfiles_t)
weston_rw_tmpfs_files(systemd_tmpfiles_t)

term_getattr_generic_ptys(systemd_logind_t)
weston_delete_tmpfs_sock_files(systemd_logind_t)

weston_map_lib_files(systemd_coredump_t)
owfds_map_lib_files(systemd_coredump_t)
libkiumd_mmap_exec_lib_file(systemd_coredump_t)

#libkiumd
libkiumd_ioctl_lib_file(systemd_coredump_t)

allow systemd_logind_t self:capability net_admin;
allow systemd_tmpfiles_t self:capability net_admin ;
allow systemd_tmpfiles_t self:process setrlimit ;
allow systemd_modules_load_t self:capability net_admin;
allow systemd_sessions_t self:capability net_admin;
allow systemd_user_runtime_dir_t self:capability net_admin;

logging_dgram_send(systemd_resolved_t)
corenet_tcp_bind_generic_node(systemd_resolved_t)
corenet_udp_bind_generic_node(systemd_resolved_t)

# /etc/machine-id
files_read_var_symlinks(systemd_logind_t)
init_read_runtime_files(systemd_logind_t)
files_read_var_symlinks(systemd_userdbd_t)
init_read_runtime_files(systemd_userdbd_t)

# systemd-logind read init proc info, /proc/<pid>/cgroup
init_read_script_state(systemd_logind_t)
getty_read_files(systemd_logind_t)
getty_use_fds(systemd_logind_t)

init_rw_script_stream_sockets(systemd_tmpfiles_t)
init_rw_script_stream_sockets(systemd_resolved_t)
init_rw_script_stream_sockets(systemd_logind_t)
init_rw_script_stream_sockets(systemd_networkd_t)
init_rw_script_stream_sockets(systemd_sessions_t)
init_rw_script_stream_sockets(systemd_user_runtime_dir_t)
init_rw_script_stream_sockets(systemd_userdbd_t)
init_rw_script_stream_sockets(systemd_modules_load_t)
init_rw_script_stream_sockets(systemd_sysctl_t)
init_rw_script_stream_sockets(systemd_coredump_t)

init_list_initrc_runtime_dirs(systemd_resolved_t)

fs_watch_memory_pressure(systemd_userdbd_t)

power_create_pm_dirs(systemd_tmpfiles_t)
adreno200_read_tmpfs_files(systemd_tmpfiles_t)
safetymonitor_read_tmpfs_files(systemd_tmpfiles_t)
fs_read_tmpfs_files(systemd_tmpfiles_t)
sailmb_read_tmpfs_files(systemd_tmpfiles_t)
owfds_read_tmpfs_files(systemd_tmpfiles_t)
ssrrm_read_tmpfs_files(systemd_tmpfiles_t)
glinkserver_read_tmpfs_files(systemd_tmpfiles_t)
pilrm_read_tmpfs_files(systemd_tmpfiles_t)
videodriver_read_tmpfs_files(systemd_tmpfiles_t)
videodriver_list_tmpfs_dirs(systemd_tmpfiles_t)
sysstat_manage_log(systemd_tmpfiles_t)

