# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

init_read_runtime_files(udev_t)
init_rw_script_stream_sockets(udev_t)

kernel_read_fs_sysctls(udev_t)

allow udev_t self:process { getsched };
