# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# shell domain is unconfined_t instead of unconfined_service_t when login with ssh or serials.
qseecomd_setattr_data(unconfined_t)
qseecomd_setattr_persist_dirs(unconfined_t)
qseecomd_rw_persist(unconfined_t)

vhost_user_manage_tmp_files(unconfined_t)

owfds_map_lib_files(unconfined_t)
owfds_manage_lib_files(unconfined_t)

#below lines added for libkiumd interface
libkiumd_mmap_exec_lib_file(unconfined_t)
libkiumd_relabel_lib_files(unconfined_t)
libkiumd_manage_lib_files(unconfined_t)

audioservice_rw_etc_files(unconfined_t)

weston_manage_lib_files(unconfined_t)
weston_map_lib_files(unconfined_t)

dev_rw_profiler_dev(unconfined_t)
dev_relabel_profiler_dev(unconfined_t)

fs_watch_memory_pressure(unconfined_t)

mount_watch_reads_runtime_files(unconfined_t)
