# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##  Allow ptrace to unconfined process.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_server_ptrace',`
#    gen_require(`
#        type unconfined_service_t;
#    ')

#    allow $1 unconfined_service_t:process ptrace;
')

########################################
## <summary>
##  Allow read and search unconfined files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_server_read_files',`
#    gen_require(`
#        type unconfined_service_t;
#    ')

#    read_files_pattern($1, unconfined_service_t, unconfined_service_t)
')

########################################
## <summary>
##  Send signull to unconfined_service_t.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_server_signull',`
#    gen_require(`
#        type unconfined_service_t;
#    ')

#    allow $1 unconfined_service_t:process signull;
')

########################################
## <summary>
##  Allow ptrace of unconfined domain
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_ptrace',`
    gen_require(`
        type unconfined_t;
    ')

    allow $1 unconfined_t:process ptrace;
')

########################################
## <summary>
## Connect to unconfined_service_t with a unix socket.
## </summary>
## <param name="domain">
## <summary>
## Domain allowed access.
## </summary>
## </param>
#
interface(`unconfined_server_stream_connectto',`
#    gen_require(`
#        type unconfined_service_t;
#    ')

#    allow $1 unconfined_service_t:unix_stream_socket connectto;
')

########################################
## <summary>
##  Send a SIGINH signal to the unconfined domain.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_siginh',`
    gen_require(`
        type unconfined_t;
    ')

    allow $1 unconfined_t:process { siginh noatsecure rlimitinh};
')

########################################
## <summary>
##  Allow apps to rw unix_stream_socket on unconfined user
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_stream_socket_rw',`
    gen_require(`
        type unconfined_t;
    ')

    allow $1 unconfined_t:unix_stream_socket { rw_socket_perms };
')

########################################
## <summary>
## Unconfined binder
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_binder',`
    gen_require(`
        type unconfined_t;
    ')

    allow $1 unconfined_t:binder { call transfer };
')

########################################
## <summary>
## Unconfined system stop
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`unconfined_system_stop',`
    gen_require(`
        type unconfined_t;
    ')

    allow $1 unconfined_t:system { stop };
')
