# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

module qti_policy 1.0;

require {
	type systemd_gpt_generator_t;
	type unlabeled_t;
	type var_t;
	type init_var_run_t;
	type bluetooth_conf_t;
	type sysctl_kernel_t;
	type chkpwd_t;
	type setfiles_t;
	type binderfs_t;
	type device_t;
	type local_login_t;
	type configfs_t;
	type proc_t;
	type shadow_t;
	type etc_t;
	type init_t;
	type sysctl_t;
	type initrc_t;
	type ipsec_key_file_t;
	type default_t;
	type sysadm_t;
	type syslogd_var_run_t;
	type system_dbusd_t;
	type udev_t;
	type ipsec_t;
	type init_exec_t;
	type cert_t;
	type event_device_t;
	type auditd_t;
	type tmpfs_t;
	class file { entrypoint getattr ioctl map mounton open read write execute execute_no_trans };
	class dir { add_name create getattr mounton relabelto remove_name rmdir search };
	class process2 nnp_transition;
	class process { signull transition };
	class capability { audit_control audit_write dac_read_search };
	class unix_stream_socket { connectto ioctl listen read write };
	class binder { call set_context_mgr transfer };
	class netlink_audit_socket nlmsg_write;
	class sock_file create;
	class netlink_generic_socket { bind create getattr getopt setopt };
	class bpf { prog_load prog_run };
	class system reload;
	class chr_file { create ioctl map open read unlink write };
	class capability2 mac_admin;
	class filesystem associate;
}

#============= chkpwd_t ==============
allow chkpwd_t etc_t:file map;
allow chkpwd_t shadow_t:file map;

#============= local_login_t ==============
allow local_login_t default_t:dir search;
allow local_login_t etc_t:file map;

#============= setfiles_t ==============
allow setfiles_t var_t:file { open read };

#============= sysadm_t ==============
allow sysadm_t binderfs_t:chr_file { ioctl map open read write };
allow sysadm_t device_t:chr_file { create ioctl map open read unlink write };
allow sysadm_t event_device_t:chr_file write;
allow sysadm_t init_exec_t:file entrypoint;
allow sysadm_t init_t:unix_stream_socket { ioctl read write };
allow sysadm_t initrc_t:binder call;
allow sysadm_t initrc_t:unix_stream_socket { connectto read write };
allow sysadm_t self:bpf { prog_load prog_run };
allow sysadm_t self:capability audit_write;
allow sysadm_t self:system reload;
allow sysadm_t default_t:file { entrypoint execute execute_no_trans };
allow sysadm_t unlabeled_t:chr_file { ioctl map open read write };

#============= system_dbusd_t ==============
allow system_dbusd_t etc_t:file map;

#============= systemd_gpt_generator_t ==============
allow systemd_gpt_generator_t sysctl_kernel_t:dir search;
allow systemd_gpt_generator_t sysctl_kernel_t:file { getattr ioctl open read };
allow systemd_gpt_generator_t sysctl_t:dir search;

#============= unlabeled_t ==============
allow unlabeled_t device_t:filesystem associate;
