# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type pulseaudio_conf_t;

gen_require(`
    type binderfs_t;
    type device_t;
    type debugfs_t;
    type default_t;
    type initrc_t;
    type init_t;
    type sysadm_t;
    type user_tmpfs_t;
    type systemd_logind_var_run_t;
    type systemd_sessions_var_run_t;
    type system_dbusd_var_lib_t;
')
#============= pulseaudio_t ==============
allow pulseaudio_t init_var_run_t:file open;
allow pulseaudio_t binderfs_t:chr_file { ioctl map open read write };
allow pulseaudio_t binderfs_t:dir search;
allow pulseaudio_t debugfs_t:dir search;
allow pulseaudio_t default_t:dir { getattr create add_name open remove_name read write search};
allow pulseaudio_t default_t:file { create getattr lock open read rename write };
allow pulseaudio_t device_t:chr_file { ioctl open read write };
allow pulseaudio_t etc_t:file map;
allow pulseaudio_t init_var_run_t:file { getattr read };
allow pulseaudio_t initrc_t:binder call;
allow pulseaudio_t systemd_logind_var_run_t:dir search;
allow pulseaudio_t systemd_logind_var_run_t:file { getattr open read };
allow pulseaudio_t systemd_sessions_var_run_t:dir read;
allow pulseaudio_t user_runtime_t:sock_file write;
allow pulseaudio_t system_dbusd_var_lib_t:lnk_file read;
allow pulseaudio_t pulseaudio_conf_t:dir search;
allow pulseaudio_t pulseaudio_conf_t:file { read open getattr };
allow pulseaudio_t sysadm_t:unix_stream_socket connectto;
allow pulseaudio_t sysadm_t:fd use;
allow pulseaudio_t user_tmpfs_t:file write;
allow pulseaudio_t device_t:sock_file write;

